[2019-10-10 03:19] cafelow opened #831 "Difficult to access profiles of people from map when their location is the same"
E.g. in Sydney I click on the 38 profiles. Then I can't use down arrow to scroll down, nor take the little scrollbar rectangle and drag it down (I think because it is too close to the x). I instead have to click lower in the scroll bar.
![image](https://user-images.githubusercontent.com/44737332/66536310-f9240100-eb78-11e9-8e4c-413405b1b8c1.png)

E.g in Wellington there are three profiles, but the

[2019-10-12 21:19] patbl commented on #264
I'll start on this if no one else has. It seems like it'll be pretty straightforward.

[2019-10-22 10:37] michaltrzesimiech opened #837 "Create new profiles based on positive responses in EAS"

[2019-10-23 00:22] cafelow opened #839 "Change button text on Groups page"
[ ] - Could the button "+ Create a Group" be changed to " + Register a Group"
(As "Create a Group" sounds like it is more about the steps TO create a group)

[ ] - Could the button "EA Resources" be changed to "Resources for Groups" or "Group Resources" - hopefully that would make it clearer that is information for Groups to use.

![image](https://user-images.githubusercontent.com/44737332/6734054

[2019-10-30 06:55] michaltrzesimiech opened #841 "Remove "Messaging Available Soon""
![image](https://user-images.githubusercontent.com/14195560/67835584-a770f580-faea-11e9-9f32-de73cd812da0.png)

[2019-10-30 07:01] michaltrzesimiech opened #842 "Change "Join 2000+ aspiring altruists...""
![image](https://user-images.githubusercontent.com/14195560/67835682-dedfa200-faea-11e9-8d2b-47c1a717af42.png)

Change this text to whatever we decide in this thread: https://app.slack.com/client/T07S8FTJQ/CHF7NEM8U

[2019-10-30 10:50] michaltrzesimiech opened #843 "Change mentions of lean at eahub.org to contact at eahub.org"

[2019-11-03 23:12] taymonbeal opened #845 "500 error when visiting /accounts/password/change/ when not logged in"

[2019-11-06 18:37] michaltrzesimiech opened #847 "Switch map default from groups to individuals"
![image](https://user-images.githubusercontent.com/14195560/68326953-bc422000-00cc-11ea-856e-6bbb466fabd9.png)

[2019-11-06 18:47] #618 closed

[2019-11-06 18:48] michaltrzesimiech commented on #672
I'm on it

[2019-11-06 18:59] michaltrzesimiech commented on #593
@sebgrebe I think all we really need in here is to change the displayed name to Effective Altruism Hub (not EA Hub Home)

[2019-11-11 12:01] michaltrzesimiech commented on #497
I manually sieved through all of our accounts. Closing as done.

[2019-11-11 12:01] #497 closed

[2019-11-13 21:08] sebgrebe opened #848 "jquery error on loading homepage"
In inspector:
```TypeError: this.imageChangeHtmlElements.toggle is null```

[2019-11-15 09:48] #64 closed

[2019-11-15 09:49] #151 closed

[2019-11-15 09:51] michaltrzesimiech commented on #255
Closing as implemented

[2019-11-15 09:51] #255 closed

[2019-11-15 09:51] michaltrzesimiech commented on #211
Closing as implemented

[2019-11-15 09:51] #211 closed

[2019-11-15 09:52] michaltrzesimiech commented on #272
Closing as implemented

[2019-11-15 09:52] #272 closed

[2019-11-15 09:52] michaltrzesimiech commented on #305
Closing as no longer desired

[2019-11-15 09:52] #305 closed

[2019-11-15 09:53] michaltrzesimiech commented on #341
Closing as happening elsewhere

[2019-11-15 09:53] #341 closed

[2019-11-15 09:55] michaltrzesimiech commented on #342
Closing as resolved in https://github.com/rtcharity/resources.eahub.org

[2019-11-15 09:55] #342 closed

[2019-11-15 09:56] michaltrzesimiech commented on #431
Closing as outdated (to be resolved by LGS data import)

[2019-11-15 09:56] #431 closed

[2019-11-15 09:57] michaltrzesimiech commented on #621
Closing as no longer desired

[2019-11-15 10:04] michaltrzesimiech commented on #815
This should be clearer now relative to August: https://github.com/rtcharity/eahub.org/milestones

[2019-11-15 10:04] #815 closed

[2019-11-17 19:56] sebgrebe commented on #843
@michaltrzesimiech  Not quite sure what this means. Do you want to replace the "Contact LEAN" buttons on /profiles and /groups to be replaced with "Contact eahub.org"?

[2019-11-18 21:10] sebgrebe commented on #831
@cafelow
- Sydney: I can't replicate this, because I don't see "undefined", but "34 anonymous users". I've
![Screen Shot 2019-11-18 at 21 06 34](https://user-images.githubusercontent.com/15908208/69093938-6879f400-0a47-11ea-97ee-ec70cd071c96.png)
I've tried to replicate with another big city, London, and there I don't have any problem with scrolling. Could you check again and tell me how London wo

[2019-11-18 21:12] sebgrebe commented on #842
Has been postponed until after emails sent to people who filled out EA survey to update afterwards.

[2019-11-24 04:12] patbl commented on #791
This is what it looks like:

![image](https://user-images.githubusercontent.com/1735266/69489487-6d66eb00-0e2d-11ea-946d-8a80123c0ec7.png)

It's set here:

https://github.com/rtcharity/eahub.org/blob/e865ba778cbab10d651378a798bce6de2f3f254e/eahub/config/settings.py#L238-L241

[2019-11-24 04:14] patbl commented on #807
I can change the location on [my profile](https://eahub.org/profile/patrick-brinich-langlois/) on production without an issues.

[2019-11-24 04:35] patbl commented on #159
#846 has instructions for getting the debugger working. Do you think that's sufficient to close this issue?

[2019-11-26 03:39] patbl commented on #561
Is the Git repository in production? If it is, we could write an endpoint that shelled out and ran `git rev-parse HEAD`.

If this approach would work, I'd be happy to build it.

[2019-11-26 03:44] patbl commented on #603
What's the advantage of a 410 over a 404?

[2019-11-28 05:13] cafelow opened #854 "Change the width of the columns on the speakers and candidate lists"
Most people's content is far too long for the width.

It would be also cool to have the first row frozen, so it is still visible when scrolling.

![image](https://user-images.githubusercontent.com/44737332/69778756-69aade00-120a-11ea-8dd6-bb00328d55ab.png)

[2019-12-02 08:57] taymonbeal commented on #627
This was also a cause of the recent ongoing failures that prevented us from merging PRs or deploying new builds.

[2019-12-02 09:28] michaltrzesimiech commented on #522
https://rtcharity.slack.com/archives/G9S6P6Q30/p1575135243003900

[2019-12-05 07:08] patbl commented on #843
I can't parse this issue's title in any way other than how you described in (2).

Here's a PR for that interpretation: #857

[2019-12-05 07:22] patbl commented on #595
I think the link in the description is wrong, and this is probably the correct one: https://forum.effectivealtruism.org/posts/2LpW22MpmAPuiraJt/announcing-ea-hub-2-0?commentId=NWdpJCBGuELcghpXZ

[2019-12-05 07:28] patbl commented on #802
I'll try working on this. Feel free to take over if I haven't posted anything by December 18 (two weeks), or to ask me how it's going if you want it done sooner.

[2019-12-06 07:20] patbl commented on #802
Some questions:

* Where should it go on the profile? The most obvious candidates are Community and Summary.
* @michaltrzesimiech, when you say "box," do you mean checkbox? I think this is a good MVP. If people want to add details, they could do so in their profile summary.

[2019-12-06 12:01] Richenda commented on #802
Hey I’m on the road tonight but I’ll get a UI answer to you tonight Patrick!

[2019-12-09 16:29] ChadoNihi opened #859 "Add CONTRIBUTING.md"

[2019-12-09 18:00] Richenda commented on #802
@patbl for public facing display, it should go under the 'Community' section of the profile under the 'available as speaker' section. I would suggest the wording 'open to couchsurfers'. And within the settings for the user it would be a check box also displayed after speaker availability.

[2019-12-10 07:06] patbl commented on #802
Thanks! I'll start on this this weekend.

On Mon, 9 Dec 2019 at 10:00, Richenda <notifications@github.com> wrote:

[2019-12-11 03:04] cafelow opened #860 "Option to choose more than one group type"
Groups currently have the option to be one of
- City
- Uni
- Country
- (blank)
A few groups appear to be both City and Uni groups (and there also might be some City/Country combos too). Could the form be changed so people can choose more than one option?

What I would like is these three options, with the ability to pick more than one:
1. City
2. University
3. Regional

[2019-12-18 04:48] cafelow commented on #831
@sebgrebe I changed the coordinates for the one rouge Wellingtonian (you were right, they were almost the same location), and I haven't seen that same problem occur again, so I don't think we have to worry about this issue unless it crops up again.

[2019-12-27 05:37] patbl opened #861 ""ModuleNotFoundError: No module named 'azure.common'" when running "docker-compose up""
@david-mears and I get this error. He has a Mac, and I have a Mac and a Linux computer, and I get it only on the Mac.

Commenting out this line allows the command to succeed:

https://github.com/rtcharity/eahub.org/blob/e865ba778cbab10d651378a798bce6de2f3f254e/eahub/config/settings.py#L39

There's some discussion here: https://app.slack.com/client/T07S8FTJQ/CHGV507EW/thread/CHGV507EW-1572811476.00

[2019-12-29 03:50] taymonbeal commented on #861
I thought I had fixed this bug. If you update to the latest master and then run `docker-compose up --build`, does the problem go away?

[2019-12-29 22:47] patbl commented on #861
It does! I must've run `build` on my Linux computer and not my Mac.

[2019-12-29 22:47] #861 closed

[2020-01-11 06:05] patbl commented on #582
#844 migrates away from Nominatim.

[2020-01-11 06:09] patbl commented on #575
I think it's weird that someone would disable Web fonts because they found them "blurry and often unreadable" and then complain that they don't like how the site looks with them disabled. Web fonts are pretty standard these days.

[2020-01-11 06:12] patbl commented on #568
Smooch.io (now Sunshine Conversations) was removed in d7c1de36db5a730ac95302b5149ae38d90ba28c4.

[2020-01-11 06:14] patbl commented on #566
Even if they asked for it, it seems like way more trouble than it's worth.

[2020-01-11 06:21] patbl commented on #525
This doesn't seem especially useful to me. Location is essential, so that should always be included. Once you narrow it down by location, there will probably be just a handful of groups. Also, I don't see size information. That seems like it would fluctuate anyway.

Are inactive groups displayed anymore? My understanding was that @cafelow [got rid of them](https://rtcharity.slack.com/archives/CHF7

[2020-01-11 06:25] patbl commented on #415
FWIW, I work for a website with over 100 million registered users, and it doesn't have 2FA. It hasn't been a problem.

[2020-01-11 06:28] patbl commented on #344
Besides having a profile, what can you do with an account that you can't do without one? Donation swapping?

If people wanted and account and anonymity, they could use a pseudonym.

My guess is that few people would use this.

[2020-01-14 06:02] patbl commented on #586
The MVP would be to allow people to make their email addresses public.

A slightly fancier version would be a form that sends an email (as Taymon suggested). The Reply-To header would be the form-submitter's email address, so that they could continue the conversation by email.

I don't think it's worth trying to build anything fancier. (I suppose there could be an option for disabling the contact

[2020-01-15 07:19] patbl commented on #831
Should this issue be closed then?

[2020-01-15 07:33] patbl commented on #859
I think there's a pretty low chance that someone else is working on a given unassigned issue that has no PRs. If you dibs an issue, wait a few days, and receive no response, you can be more confident no one else is working on it.

My problem hasn't been redundant work, but rather that my PRs haven't been merged or commented on.

[2020-01-15 19:45] cafelow commented on #831
Yes!

[2020-01-15 19:45] #831 closed

[2020-01-15 20:17] #841 closed

[2020-01-15 20:17] #839 closed

[2020-01-15 20:39] #730 closed

[2020-01-15 21:07] sebgrebe commented on #859
@ChadoNihi When someone picks up a ticket, they should put an "In progress" label on a ticket. So if there is no label, feel free to pick up a ticket. If you want to be 100% sure, you can announce in the slack channel that you've picked up the ticket.

[2020-01-15 21:08] sebgrebe commented on #859
@patbl Sorry, we've not been doing a good job with reviewing and merging recently. We'll try to catch up on outstanding PRs soon.

[2020-01-16 08:59] cafelow commented on #525
Hey @patbl and @michaltrzesimiech,
1. I've mostly deleted inactive groups - but there are still some groups where people have recently changed their group to "inactive" and these groups are still on the hub. The reason we haven't deleted inactive groups is that in theory people could still contact the old organiser to get any mailing lists or advice if they want to start a group in that area (assu

[2020-01-16 21:08] #802 closed

[2020-01-17 06:43] patbl commented on #859
@sebgrebe That's fine! Thanks for getting around to them.

Maybe you know this already, but outside collaborators don't have permission to tag issues. (I wasn't sure whether you were including outside collaborators in "someone.")

[2020-01-17 08:09] sebgrebe commented on #859
No, I wasn't aware of that! Will investigate whether we can do something about that

[2020-01-17 09:48] #847 closed

[2020-01-17 19:40] #843 closed

[2020-01-18 07:57] patbl opened #864 "500 error when clicking "Download My Profile Data""
https://eahub.org/profile/patrick-brinich-langlois/ is the profile in question.

There was a similar issue (#389) previously.

![image](https://user-images.githubusercontent.com/1735266/72660636-42a89700-3985-11ea-9e0e-bba2758fd66a.png)

[2020-01-29 13:31] Richenda opened #865 "Add EA Hub Asana space"
- [ ] Replace the grey EA Projects icon on the front page with https://drive.google.com/open?id=1WHhCiOjSplI54NOojp7c_72cPd2JMrYM

- [ ] Create a new webpage for EA Projects. On the new page, please add the following text: The Hub team is looking for volunteers to extend our functionality for projects. In the meantime, EA orgs can join this Asana space. The words 'this Asana space' should link to

[2020-02-19 09:11] michaltrzesimiech commented on #586
@patbl 's suggestions seem very reasonable. I'd start by allowing people to optionally share their email address publicly, then implement a form

CC: @cafelow

[2020-03-01 13:02] sebgrebe opened #868 "Bug: some font awesome icons are not displaying"
Groups list:
![Screen Shot 2020-03-01 at 12 58 13](https://user-images.githubusercontent.com/15908208/75626158-e7410a00-5bbc-11ea-9097-facec6d96fe4.png)

[2020-03-01 13:25] sebgrebe commented on #868
Message group
![Screen Shot 2020-03-01 at 13 24 22](https://user-images.githubusercontent.com/15908208/75626521-15741900-5bc0-11ea-9b73-e66e2fba8619.png)

[2020-03-01 21:09] cafelow commented on #868
I'm not sure the whole column that includes "Page" "Community" "Website" is useful. I think it would be easier (and better) to just delete the column.

[2020-03-01 21:10] cafelow commented on #868
Currently "message group" is just a mailto: link (which is more annoying than useful), so until we have messaging available through the Hub, I'd actually like that button to be hidden.

[2020-03-03 19:26] #678 closed

[2020-03-04 08:48] michaltrzesimiech commented on #859
I tentatively think it's better to have it like that but make the process clearer for people who want to contribute. I'm going to update README.md with some pointers. Meanwhile, let me add you to our team, folks.

[2020-03-04 09:04] michaltrzesimiech commented on #854
Highlighting for @sebgrebe

[2020-03-04 09:06] michaltrzesimiech commented on #842
As of now, we have 805 public profiles. @cafelow I think we're ready to discuss a new slogan for the Hub

[2020-03-04 09:09] #568 closed

[2020-03-04 09:18] michaltrzesimiech opened #869 "Change all mentions of "Contact LEAN" to "Contact EA Hub""

[2020-03-04 10:05] michaltrzesimiech commented on #570
https://github.com/rtcharity/eahub.org/pull/872

[2020-03-04 10:06] michaltrzesimiech commented on #869
https://github.com/rtcharity/eahub.org/pull/871

[2020-03-04 10:09] michaltrzesimiech commented on #277
![image](https://user-images.githubusercontent.com/14195560/75868619-99204680-5e08-11ea-8c03-893d6e4c38ae.png)

[2020-03-04 10:09] #277 closed

[2020-03-12 19:53] cafelow commented on #808
This is now low priority - I couldn't work out how to change the tags

[2020-03-14 19:30] michaltrzesimiech commented on #721
We need to put this on hold for the moment

[2020-03-14 19:30] michaltrzesimiech commented on #717
We need to put this on hold for the moment

[2020-03-14 19:45] michaltrzesimiech opened #873 "Add optional "Other website" field to /group/*"
Specified same as the "Website" field; the field is invisible if value is null

[2020-03-14 19:48] michaltrzesimiech opened #874 "Add optional "Other information" field to /group/*"
Text, 5000 characters max, placed at the bottom, the field is invisible if value is null

[2020-03-14 19:50] michaltrzesimiech opened #875 "Delete "Community" column on /groups list"

[2020-03-14 19:52] michaltrzesimiech opened #876 "If group has no organisers, display the value as "hidden" instead of "unknown/anonymous""

[2020-03-14 20:57] victor-yunenko opened #877 "Page speed issues"
Currently the page speed score is 0 out of 100 - https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Feahub.org%2F

The main reasons
- [ ] webpack setup
    - the dependencies are loaded along with the js and css source code - that's one big 3MB file of JS and CSS that users are forced to download on every page, even when they need only 3KB of its content
    - solution - spli

[2020-03-17 23:27] cafelow opened #879 "Add open text field to /group/*"
This can be displayed at the end, but hidden if there is no information there.

Title
"More information about the group"

[2020-03-17 23:50] cafelow opened #880 "Add option to put name of organiser into "Organiser" /group/* without them being registered"
There do seem to be people who don't want to join the Hub, but do run groups. Having a name is still useful in those cases.

This would be something that EA Hub admins would add, or potentially admins of the group would do.

[2020-03-18 00:11] cafelow opened #881 "Change colours on /group/*"
At the moment it is hard to read the link text (and it is not totally obvious that the green represents links)

My suggestion using the current EA Hub pallette:
The pale purple box changes to pale grey: #F7F6F6
The white text becomes dark grey: #333333
The link text becomes dark teal: #497767

If possible the link text gets underlined - see mockup.

![image](https://user-images.githubusercontent.c

[2020-03-18 05:16] cafelow opened #882 "Changes to /group/new"
- Change "Name" to "Name of Group".

- If possible add additional text in small text under "Name of Group"
"University groups: Ideally avoid acronyms in your group name unless they are likely to be unique worldwide. If the name of your university is also the name of a city, indicate in the name that this is a university group."

- Before the website field add small text “Please enter all the ways

[2020-04-04 15:49] #226 closed

[2020-04-04 15:51] sebgrebe commented on #777
@cafelow @michaltrzesimiech Is this what we agreed on to do for CEA at least with respect to groups?

[2020-04-04 15:58] #672 closed

[2020-04-04 20:34] cafelow commented on #777
Yes please! Thanks for checking in Sebastian.
1. **Would be helpful soon**: I'd like to be able to export data. What I'd like is easy access to - all group data + group organiser names and group organiser email addresses.

2. **Would be REALLY great after 1 happens**: I get some sort of a notification when there are changes to the groups database (any change). It could be a weekly report.

3. **Wo

[2020-04-05 10:33] #876 closed

[2020-04-05 11:16] sebgrebe commented on #842
@cafelow Any thoughts from you on this? The 2000+ seems misleading.

[2020-04-05 11:18] #869 closed

[2020-04-05 11:36] #873 closed

[2020-04-05 11:36] #874 closed

[2020-04-05 15:31] #879 closed

[2020-04-06 05:23] cafelow commented on #875
Is this yet to be deployed?
I notice that while there is no column labelled "community", the "location" column now has the content that used to be under community, and no location.
![image](https://user-images.githubusercontent.com/44737332/78525482-58fb1c00-782b-11ea-99e2-9dab6ed5710e.png)

[2020-04-07 08:29] michaltrzesimiech opened #895 "Changes to meta tags and title"
<title>Effective Altruism Hub</title>

    <meta name="description" content="{{ slogan }}">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta property="og:url"           content="https://eahub.org" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Effective Altruism Hub" />
    <meta property="og:image"         content="/i

[2020-04-07 20:24] sebgrebe commented on #875
@cafelow Sorry, you're right. Fixed, I think you should be able to approve the pull request: https://github.com/rtcharity/eahub.org/pull/896. Once it's approved, I can bring the change live

[2020-04-13 22:38] cafelow opened #900 "Change process to Hub sign up form"
The issue: Some people sign up and don't add anything to their profile, and it is hard for me to know whether to approve them. Some of these are genuine EAs (which I've found out from finding them on facebook), but I'd rather not a) have to search on FB for them, and b) don't want to miss other real EAs that aren't using their real name on FB.

I think the main problem is that people are only aske

[2020-04-19 14:23] michaltrzesimiech commented on #811
@cafelow what would be the ideal workflow for this?

[2020-04-22 09:13] cafelow opened #901 "Reorder/rename the links/buttons on the home page"
The links should start with the Hub things, in order of usefulness. (Gidon suggested we put the resources more prominently... not just me!)

I suggest this order
1. Profiles
2. Resources (okay so I really want Resources first but I'm biased - @michaltrzesimiech might want to weigh in!)
3. Groups
4. Community and Discussion BUT RENAMED TO "Effective Altruism Forum"
5. Then all the rest in the curre

[2020-04-22 09:40] cafelow commented on #842
@sebgrebe this is what Michal came up with
"Do the most good together with the Effective Altruism community"
I like it but I'm not sure if it is grammatically correct! If you think it is okay can you change it?

[2020-04-23 06:53] cafelow opened #902 "Can "contact us" on the footer have the email address listed?"
As you know now I'm allergic to mailto: links that masquerade as usual hyperlinks! And I believe I'm not the only person with this particular affiliction!

Currently the footer says
"The codebase of this project is licensed under the MIT License. Post feedback. Privacy Policy. View source. About. Contact us."

Would it be okay to change this to
"The codebase of this project is licensed under the M

[2020-04-25 11:48] #586 closed

[2020-04-26 13:37] sebgrebe opened #905 "[Bug] No login/signup on mobile"
![Screen Shot 2020-04-26 at 14 36 27](https://user-images.githubusercontent.com/15908208/80309193-5b69e980-87cb-11ea-81c1-cfff9ea56765.png)

[2020-04-27 17:42] #905 closed

[2020-04-28 18:59] sebgrebe opened #907 "Run migration on deployment"

[2020-05-05 10:57] victor-yunenko commented on #907
That's working now in CI, closing the ticket 👍

[2020-05-05 10:57] #907 closed

[2020-05-05 22:01] cafelow opened #917 "Add different options for making your profile visible"
I've had multiple people express concern about having their profile publicly viewable on the internet. I also suspect when we start asking people to add their email address many people would not want to add their email for fear of a) spam b) individuals contacting them that they don't want to hear from.

So it would be ideal if people could choose two options.
1. Profile viewable by anyone on the

[2020-05-11 11:54] michaltrzesimiech opened #920 "Quick SEO fixes"

[2020-05-17 12:57] #448 closed

[2020-05-18 20:19] #860 closed

[2020-05-19 11:49] michaltrzesimiech commented on #842
How about we simplify it to "Do the most good with the Effective Altruism community"

[2020-05-22 18:07] cafelow opened #927 "Changes to eahub.org/group/* text"
Instead of "Status: Inactive"
write "Status: This group is currently not meeting regularly. You can still connect with EAs in the area through the links below."

[2020-05-25 00:06] cafelow opened #928 "Small text changes on /groups/"
1. Change "create a group" to "register a group" here: https://eahub.org/groups/

2. Above the map have a heading "Directory of Local EA Groups"
Then in regular text:
For non-local groups, head to this list of [groups based on cause-area, career paths, or affiliations](https://resources.eahub.org/learn/connect/).

[2020-05-26 11:02] #875 closed

[2020-05-26 11:09] sebgrebe commented on #927
@cafelow 2 questions:
1) I'm worried that this might be a bit wordy and breaks with the style of information we otherwise have in the keys facts box (usually just one-word pieces of information like "City" or an email address)
![Screen Shot 2020-05-26 at 12 06 28](https://user-images.githubusercontent.com/15908208/82893813-84f06f00-9f49-11ea-98c8-280c9b5ae1be.png)
2) At least given how out databas

[2020-05-26 11:11] #842 closed

[2020-05-26 12:14] sebgrebe commented on #928
![Screen Shot 2020-05-26 at 13 14 13](https://user-images.githubusercontent.com/15908208/82899407-d6e9c280-9f52-11ea-9dd1-4c6c888840bb.png)
Does this look OK, @cafelow ?

[2020-05-26 12:23] sebgrebe commented on #317
Removing "In progress", but whoever picks this up should get in touch with @taymonbeal to check what the current status of this is.

[2020-05-26 22:10] cafelow commented on #928
The picture looks great Sebastian!
We should ideally hyperlink all of "list of groups based on cause-area, career paths, or affiliations", as that helps with accessibility (I don't know how many visually impaired people users we have but it is good practice to do best practice especially when it is easy)

[2020-05-26 22:46] cafelow commented on #927
1. I see what you mean. But I still want the information to get across somehow. This is a little shorter:

2. I'm planning on hiding all groups that don't have any contact information, so you don't have to worry about that.

[2020-05-26 22:53] cafelow opened #931 "Email notification for any edits to group/*"
I was wondering whether groups@effectivealtruism.org could be notified whenever there is a change in any of the group data. Is that possible? Easy?

At the moment I see when people claim a group only.

[2020-05-28 19:32] sebgrebe commented on #928
This seems to be analytically true :)

[2020-05-28 19:38] sebgrebe commented on #931
Definitely possible and technologically not particularly difficult.
It will eat into our email contingent however

[2020-05-28 20:08] #928 closed

[2020-05-28 20:10] sebgrebe commented on #928
Done

[2020-05-28 20:14] cafelow commented on #931
Actually, change that to groups@centreforeffectivealtruism.org
(They go to the same place, but I'm trying to be consistent).

[2020-05-28 20:17] #927 closed

[2020-05-28 20:47] #570 closed

[2020-05-28 20:53] cafelow commented on #777
Update. Ignore 3.
2. is still important
1. If 2. is enabled I won't need to export data often. So instead of me exporting data I could ask someone (?) to do a database request for me.

[2020-05-28 20:56] cafelow commented on #808
Not required any more.

[2020-05-28 20:56] #808 closed

[2020-05-28 20:59] cafelow commented on #777
Oops, I asked for this again here:
https://github.com/rtcharity/eahub.org/issues/931

[2020-05-28 21:00] cafelow commented on #931
Turns out I already asked for this, but forgot: https://github.com/rtcharity/eahub.org/issues/777

[2020-05-28 21:12] #868 closed

[2020-05-28 21:13] #824 closed

[2020-05-28 21:16] #585 closed

[2020-05-28 21:16] #865 closed

[2020-06-18 10:56] michaltrzesimiech commented on #811
When creating a new group, users should get two tickboxes:

1) Would you like to be added to the mailing list for group organisers?
2) Would you like to sign up for the group organisers newsletter?

When 1 is true, send a request to add email address of the user to the mailing list (else do nothing)
When 2 is true, subscribe users email address to the newsletter (else do nothing)

[2020-06-18 10:58] michaltrzesimiech commented on #328
This should be now ready to implement

[2020-06-18 10:59] michaltrzesimiech commented on #9
We now have https://dev.azure.com/eahub/, but we're still configuring it

[2020-06-18 11:15] cafelow commented on #811
I thought the mailing list for group organisers *was* the newsletter.
If it is not, then I don't think anyone is using this mailing list.

I also think this isn't high priority, as anyone creating a new group now gets personally harangued by me to sign up for EVERYTHING have a chat with me. New group organisers cannot escape the newsletter!

[2020-06-21 09:49] sebgrebe opened #937 "Improve loading time: change all png to jpg"
This is part of our efforts to make the webpage load faster, in particular changes to webpack [here](https://github.com/rtcharity/eahub.org/pull/935)

As the webpage changes aren't in master yet, please create your branch not of master, but of [the webpack branch](https://github.com/sebgrebe/eahub.org/tree/pr/889). Also, when making your pull request eventually, make it into this branch, not maste

[2020-06-21 14:41] sebgrebe commented on #880
Some clarification for developers:
- The organiser field in localgroups type is linked to profiles class.
- What we want is that one can also assign a name as organiser, which is not linked to a profile
- A solution to this might be to introduce a new field in the localgroup type (e.g., "OrganiserFreeText"). This should only be changeable for admins from the admin panel. On the frontend, this shou

[2020-06-23 08:26] michaltrzesimiech opened #939 "Add messaging form on user and group profiles"
Picking up where we left here https://github.com/rtcharity/eahub.org/issues/586

We need a messaging functionality. The scope is to make it possible for a logged in user to click a button "message" visible on other users and groups profiles and use a contact form to send an email i.e. using SendGrid (or whatever is good enough and less or equally as expensive).

At the same time, we should disable

[2020-06-23 08:46] michaltrzesimiech opened #940 "Cosmetic changes to the landing page"
On the main page,

- [ ] remove "EA" from subsite titles

![image](https://user-images.githubusercontent.com/14195560/85381225-0f72c100-b53e-11ea-8e4f-e0d32eec1c0d.png)

- [ ] Change "High Impact Job Board" to "80,000 Hours Job Board"

![image](https://user-images.githubusercontent.com/14195560/85381334-27e2db80-b53e-11ea-9ff9-a0ee1ef9190a.png)

- [ ] Capitalise "Effective Altruists" in "Join effe

[2020-06-23 10:12] cafelow commented on #940
Related Issue: https://github.com/rtcharity/eahub.org/issues/901

The links should start with the Hub things, in order of usefulness. (Gidon suggested we put the resources more prominently... not just me!)

I suggest this order

Profiles
Resources (okay so I really want Resources first but I'm biased - @michaltrzesimiech might want to weigh in!)
Groups
Community and Discussion BUT RENAMED TO "Effe

[2020-06-24 04:16] cafelow opened #941 "Add regional level for groups"
1. Please change the group type options to
City
National/Regional
University

2. I'd ideally like the option for people to share their state. This is only applicable to a couple of countries.
Ideally have a new field "State (if applicable)" - if it is free text then that is okay.

If it is hard to add another field, we could
Please change "City or Town" to "City and State (if applicable)"

[2020-06-24 04:17] cafelow commented on #941
Any group that is currently listed as "Country" will count as "National".

[2020-06-28 14:13] sebgrebe opened #942 "Mobile display of profile/groups table"
![image](https://user-images.githubusercontent.com/15908208/85949957-a7fbad80-b951-11ea-8f68-22c5b9ea4954.png)
Squished, not pretty.

Use same layout as the one used for the talent tables

[2020-06-28 15:46] sebgrebe opened #944 "bug: 404 when logging out as unapproved user"
![image](https://user-images.githubusercontent.com/15908208/85952038-a684b200-b95e-11ea-8a2a-d621eeda2400.png)
Recreate bug:
- Create new user
- log out

If you approve the user on the admin panel and then log out as the user, you don't get this

[2020-07-08 18:32] sebgrebe commented on #941
@cafelow the issue with free text fields is that they tend to create a mess. People make typos, use abbreviations or not etc, so this would make the database less reliable, which I think we should avoid. Having a non-free text field will require more work (and I'm not sure right now how we can do that), but if the database should be the "golden source" for local groups, I think it's worth the effo

[2020-07-09 16:42] michaltrzesimiech commented on #459
We should prioritise this higher since the manual maintenance costs accumulate with each month

[2020-07-12 10:12] sebgrebe commented on #937
Done

[2020-07-12 10:12] #937 closed

[2020-07-12 10:44] sebgrebe commented on #939
@michaltrzesimiech My understanding is that @cafelow wanted to talk to CEA about this.
My questions:
1) Were there any decisions made? Is there any input from CEA regarding this feature?
2) What is the cost situation on this? How many emails do we expect to be sent and would this get us over whatever threshold we have for what we are currently paying for with sendgrid?
3) @cafelow said that there

[2020-07-12 10:53] sebgrebe commented on #9
@michaltrzesimiech I'll close this ticket as it needs to be more specific. For example, we could add a "add staging page" ticket. I'm cl

[2020-07-12 10:53] #9 closed

[2020-07-12 10:56] sebgrebe commented on #3
Before this is ready to pick up, we need to think about how to do this, what technology to use etc

[2020-07-12 11:43] sebgrebe commented on #931
reopen as this is asked for in another ticket, but it makes sense to split the ask on the other ticket and this one here on 2

[2020-07-12 12:07] sebgrebe opened #947 "Mutliple select display on group edit"
Current:
![image](https://user-images.githubusercontent.com/15908208/87245805-69312180-c440-11ea-9eaf-a695f1fe15d4.png)

Desired (multiselect boxes):
![image](https://user-images.githubusercontent.com/15908208/87245816-92ea4880-c440-11ea-8dcd-b94be8d1619e.png)

[2020-07-12 12:18] sebgrebe opened #948 "Enable selection of group types on admin panel"
Current:
![image](https://user-images.githubusercontent.com/15908208/87245987-017bd600-c442-11ea-8e83-d591fd85f0f6.png)

Desired:
- don't display "group type" as it's an outdated, unused field
- make "group types" multi select, offering "City", "University", "Country"

[2020-07-12 13:21] LisaJD commented on #882
Hi @cafelow - here is a screenshot of the form, please let me know if you are happy with the changes or if you want any further edits made.
<img width="395" alt="image" src="https://user-images.githubusercontent.com/24226083/87247294-e8c3ee00-c44a-11ea-8f6e-12f51fd53b60.png">

[2020-07-12 13:40] Richenda commented on #3
I wonder if we could find an open source alternative to elastic search

[2020-07-12 22:06] cafelow commented on #941
I understand the messiness.
From my perspective, I'd still greatly prefer free text than nothing because the city/town doesn't really specify a location (at least in the USA). I'd rather have messy information than incomplete information.

What I don't understand is how the Hub works out where to put the pin on the map at the moment, so however that works should be preserved (although I had to mov

[2020-07-12 22:14] cafelow commented on #939
1. I talked to CEA's groups team, and also the tech team. I'm afraid this isn't in the tech team's priority right now, and isn't within the scope of the Groups team. To clarify, the groups team scope of helping the EA Hub is just the groups list + resources relating to groups. Since this feature isn't particularly useful for /groups (as they normally have a public email address), this isn't someth

[2020-07-13 11:13] michaltrzesimiech commented on #941
But we already have our locations based on free text, no?

I actually think that implementing this as a list that users could search through might have been an easier way to handle a closed set of locations, but it's probably too much of a hassle to change it on this occasion.

One way or another, could we tackle this through a hierarchy like:

- National
- Regional (including state)
- City
- Univ

[2020-07-13 11:46] michaltrzesimiech commented on #3
Yeah our choice is probably limited to Elasticsearch vs Apache (https://lucene.apache.org/solr/). We want to have a search box in the navbar that searches through profiles and groups. It should work like:

- When searching for _location name_, return groups in that area, then persons in that area
- When searching for _person name_, return public profiles matching that search

Later:

- When search

[2020-07-13 12:04] michaltrzesimiech opened #949 "Update the list of cause areas"
We want the list to fit that used at EAG:

- Building EA Communities
- Psychology Of Decision-making
- Global Priorities Research
- Mental Health/happiness
- Global Health And Development
- Global Coordination/peace-building
- Climate Change
- Ai Strategy And Policy
- Farmed Animal Welfare
- Other Policy Reforms
- Ai Safety Technical Research
- Other Existential Risks
- Wild Animal Welfare
- Biori

[2020-07-13 21:06] cafelow commented on #941
Yeah, I think free text PLUS I get notified whenever a new group is created and I can check it. We only have ~200 groups so new groups don't pop up all that often.

[2020-07-19 19:18] sebgrebe commented on #941
Thanks for the input, @cafelow and @michaltrzesimiech
I conclude that we'll add a free text box which is optional to fill in.

@michaltrzesimiech I don't think there is a need to change how geolocation works. When creating regional/national group, users can continue to enter a city, which makes sense as this would indicate where the "headquarters" or main activity is (AFAIK this hasn't created any

[2020-07-19 19:19] sebgrebe commented on #941
I just created a [PR for notifications ](https://github.com/rtcharity/eahub.org/pull/952)

[2020-07-19 19:24] sebgrebe commented on #3
@michaltrzesimiech @cafelow
My initial estimate on this task is that it's quite a big job, which can easily take a net week of developer time (this is a **very** rough estimate, might be weeks more or days less). So my ETA on this, given our current velocity is, this will take 3+ months too develop (and this + could be significant).

If we think we want this sooner and it has high value, it might

[2020-07-19 22:37] cafelow commented on #3
I'm not too fussed about this feature. I am VERY keen on a resources search function though as that has been identified by several users as something they want or reasons why they preferred the old system of having all the resources on a google drive.

[2020-07-19 23:11] Richenda commented on #3
I am happy to help apply for funding and advertise for a dedicated engineer to help deliver this. Thanks for the detailed breakdown @michaltrzesimiech In my view the search is essential. When we set out, the intended MVP included resources, a good search, the profiles and projects. How I see it is that users and the community need those things in place for its potential to really be clear.

[2020-08-02 15:34] #777 closed

[2020-08-10 09:27] michaltrzesimiech opened #956 "Change the error message for blacklisted domains"
Change the error message for blacklisted domains from

to

[2020-08-12 02:49] vagarwalla commented on #949
Hi, quick question on this:
Some of these are not exactly cause areas eg. quantitative trading. Just wondering if it makes sense to include quant tradinging in cause areas, or list it as a profession instead?

[2020-08-13 18:37] sebgrebe commented on #949
@vagarwalla Those would probably better fit into the "Areas of Expertise" category

[2020-08-16 16:31] #947 closed

[2020-08-23 13:28] sebgrebe opened #958 "Enhanced profiles search with faceted filters"
### Search wireframes

https://whimsical.com/5uUECYJe5vvWXZj5M9HDu8

<details>

<summary>screenshot</summary>

![](https://user-images.githubusercontent.com/15908208/93708141-c4ac1980-fb2b-11ea-93bd-b825d4b81cc3.png)

</details>

## TODOs

The remaining tasks to do before the forum announcement:
- [x] show the filters in the url to allow sharing
- [ ] indicate that filtering is active on mobile vi

[2020-08-24 15:44] vagarwalla commented on #939
**USER PROFILE WIREFRAME**
I created a wireframe here (ignore the profile redesign for now, will address in another Issue):
https://whimsical.com/5uUECYJe5vvWXZj5M9HDu8

In terms of User workflow:

1. User clicks "Message" button on Contact profile page
2. Message box pop-up appears
2. Optional: Message box autofills name/email
3. User types in message
4. User clicks "Send"
5. An email is sent to

[2020-08-25 09:40] vagarwalla commented on #949
**Heres the final request as per the conversation**

We want the list to fit that used at EAG:

- Building EA Communities
- Psychology Of Decision-making
- Global Priorities Research
- Mental Health/Happiness
- Global Health And Development
- Global Coordination/peace-building
- Climate Change
- Farmed Animal Welfare
- Wild Animal Welfare
- Other Policy Reforms
- AI Strategy And Policy
- AI Safety

[2020-08-25 09:41] vagarwalla opened #962 "Update the Areas of Expertise categories"
Add the following categories:

- Quantitative Trading

- Information Security

- Psychology of Decision-Making

[2020-08-25 11:47] vagarwalla commented on #958
Here's the first mockup of the new profiles page :
https://whimsical.com/5uUECYJe5vvWXZj5M9HDu8 (See the white box with Issue #958)

The new profile page will be the have the following columns:
- Full Name (hyperlinked with the user profile)
- City
- Country
- Local Group
- Cause Area
- Area of expertise

And there will be filters for each column like in Excel. The filters should also be additive

[2020-08-26 03:04] vagarwalla commented on #962
Related issue: #949

[2020-09-06 11:33] sebgrebe opened #964 "New fields for profile: Current position, needs, gives"

[2020-09-06 13:23] #900 closed

[2020-09-07 03:48] vagarwalla commented on #958
Updates on functionality & Discussion:

- We are going with Option 2
- The search box will limit results by profile (e.g. if you pick country UK then all the other filters will only search within the UK profiles)
- The text search will search all available fields in the profile (whether they display in the search or not)

[2020-09-14 18:17] #637 closed

[2020-09-20 09:20] sebgrebe opened #968 "Enable UAT"
### Current state
We only have production environment

Problem: There is no other way to show to product latest developments before deploying other than product running the code locally (which can be quite complicated for a non-tech person) or screenshots. With the work on the enhanced profile directory, this is an impediment to new features being properly tested and getting feedback.

### Solutio

[2020-09-20 09:26] sebgrebe commented on #958
Wireframe #1
![image](https://user-images.githubusercontent.com/15908208/93708141-c4ac1980-fb2b-11ea-93bd-b825d4b81cc3.png)

[2020-09-20 09:27] sebgrebe commented on #958
Wireframe: Expanded view
![image](https://user-images.githubusercontent.com/15908208/93708152-dd1c3400-fb2b-11ea-99bb-3fe7b1c043c8.png)

[2020-09-20 09:39] sebgrebe opened #969 "Enhanced profiles search: New profile tiles"
### Current state
on the tables in /profiles, each user is just represented as a simple row with 4 columns: image, name, city, country

![image](https://user-images.githubusercontent.com/15908208/93708224-692e5b80-fb2c-11ea-870f-f214cbb363a6.png)

### Desired state
we have more information on each user
![image](https://user-images.githubusercontent.com/15908208/93708247-8ebb6500-fb2c-11ea-9fc0-b25

[2020-09-20 09:43] sebgrebe commented on #958
### Tool decision

We are currently using [datatables](https://datatables.net/) for displaying the table. With the new filtering envisioned, we want to reasses whether datatables is the best solution or whether we'd like to move to another tool.

[AG Grid](https://www.ag-grid.com/) has been recommended to me by someone at work.

Risks of moving to another tool:
- Accidentally breaking existing fun

[2020-09-20 09:49] vagarwalla commented on #969
Clarification on Icons:

- Icons will have a transparent background and be GREY by default. If the category applies to a person, the icon will be PURPLE.
- Each icon will have a tooltip. See ammended wireframe.
![image](https://user-images.githubusercontent.com/32846756/93708539-9baa7980-fb69-11ea-800b-7b568d1c3c88.png)

[2020-09-20 09:52] sebgrebe opened #970 "Enhanced profiles search: Expanding profile tiles"
### Current state
on the tables in /profiles, each user is just represented as a simple row with 4 columns: image, name, city, country

![image](https://user-images.githubusercontent.com/15908208/93708224-692e5b80-fb2c-11ea-870f-f214cbb363a6.png)

### Desired state
- Profile is displayed with more info (this issue: #969)
- On clicking "Read more" on profile tile, more information is shown
![image]

[2020-09-20 09:57] sebgrebe opened #971 "Enhance user profiles: Multiple fields"
### Current state
Users cannot show what they are looking for/can offer to other users (expected for "is available" regarding speaking, volunteering, working)

### Desired state
* Users have free text fields where they can share "needs" and "gives"
* On profiles search, add those lines to tiles. Make searchable

### Context
This issue blocks #970

### Acceptance criteria
- [ ] Needs/gives field ad

[2020-09-20 10:39] sebgrebe opened #972 "Enhanced profiles search: Multiselect boxes"
### Current state
On /profiles, users can only search over profiles for limited information (name, city, country)

### Desired state
Users can search over all relevant info for users
![image](https://user-images.githubusercontent.com/15908208/93709207-4f911200-fb34-11ea-98ce-b5d163f8c23b.png)

### Context
- Filtering will be done on profile tiles, which will be implemented [here](#969). The presen

[2020-09-20 10:42] sebgrebe opened #973 "Enhance profile search: Search term box"
### Current state
On /profiles, users can only search over profiles for limited information (name, city, country)

### Desired state
Users can search over all relevant info for users
![image](https://user-images.githubusercontent.com/15908208/93709207-4f911200-fb34-11ea-98ce-b5d163f8c23b.png)

### Context
- Filtering will be done on profile tiles, which will be implemented [here](#969). The presen

[2020-09-20 10:45] sebgrebe opened #974 "Enhanced profile search: Toggle boxes"
### Current state
On /profiles, users can only search over profiles for limited information (name, city, country)

### Desired state
Users can search over all relevant info for users
![image](https://user-images.githubusercontent.com/15908208/93709207-4f911200-fb34-11ea-98ce-b5d163f8c23b.png)

### Context
- Filtering will be done on profile tiles, which will be implemented [here](#969). The presen

[2020-09-20 10:49] sebgrebe opened #975 "Enhance profile search: Bring different search modes together"
### Current state
On /profiles, users can only search over profiles for limited information (name, city, country)

### Desired state
Users can search over all relevant info for users
![image](https://user-images.githubusercontent.com/15908208/93709207-4f911200-fb34-11ea-98ce-b5d163f8c23b.png)

### Context
- Filtering will be done on profile tiles, which will be implemented [here](#969). The presen

[2020-09-20 15:25] vagarwalla opened #976 "New Homepage (eahub.org)"
The figma file - https://www.figma.com/file/stekYcAW2fHfIdi6CbY4Li/effective-altruism-hub?node-id=0%3A1

todo:

* [ ] restore a missing profile image
* [ ] test in edge

EA Hub Homepage Design Call Notes - https://docs.google.com/document/d/1J93OP3iI3-oS_18xyUxzjdnOylN8Y39krUbhmUW12LQ/edit

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1199658157929710/1199874604966892) by

[2020-09-20 16:00] victor-yunenko commented on #976
Thank you for raising this 🙏 !

That was one of the topic that I wanted to bring up at some point - basically our current homepage doesn't really adhere to the landing pages best practices.

Among other things I would like to propose to add a clear CTA along with the description of what the website is about 😅 . We would need to find a good way to put it, in short I mean something similar to:

[2020-09-20 16:21] victor-yunenko opened #977 "Analyze the potential competitors of eahub.org to confirm that there's no existing solution on the market"
I'm creating this ticket after our today's sync with Vaidehi and Sebastian to post the summary:

In short Vaidehi looked through the alternative before for ~half an hour, and today I did a more detailed analysis by spending ~2h.

In short:
- I was looking for social network platforms with group managements & search
- mostly I found immature products, commercial or not

The most probable replacemen

[2020-09-20 16:21] #977 closed

[2020-09-20 16:56] victor-yunenko commented on #958
Hi @vagarwalla, would you be able to add me (victor.yunenko@gmail.com) to the whimsical document?

[2020-09-20 16:57] victor-yunenko commented on #968
We've schedule a meeting on the next Sunday with Sebastian to look through the options

[2020-09-20 21:27] victor-yunenko opened #978 "Enhance profile search: prevent users from selecting redundant custom cause areas or countries"
The search wireframe at the moment looks as following:

![image](https://user-images.githubusercontent.com/36416236/93722614-c5cb5e00-fba0-11ea-8c26-7c2fdd6e0432.png)

An interesting issue is that every one of those dropdown fields is a text field for the users - ie everyone can input anything in the `country` field, instead of just selecting `US` from a dropdown. As a consequence once we implemen

[2020-09-21 00:33] vagarwalla commented on #972
I think inconsistent filters is fine - worst case scenario nothing pops up. We can do input validation if we get feedback that it's needed.

[2020-09-21 00:37] vagarwalla commented on #973
Per our discussion with @victor-yunenko yesterday, I think the search should be universal and search all searchable fields. Unless there's some issue there?

Reasoning is because the filters are not exhaustive - e.g. it doesn't search Giving Pledges, Custom areas of expertise etc. I think searching every field is the simplest option.

Otherwise, it should search all the fields that can't be select

[2020-09-21 00:39] vagarwalla opened #979 "Update the About Page (eahub.org/about)"
* Update existing about page to have [this text](https://docs.google.com/document/d/1eJfk5ZkSFuXB0EpQPUb-iRBu3HVsnMnkdFBAtYIn4Zs/edit#)
* Load github contributors dynamically and display on about page, similar to how it's done [here](https://joshclose.github.io/CsvHelper/)
* Add a section to readme for contributors, explaining that they will be added to about page as technical contributors once a

[2020-09-21 00:39] vagarwalla commented on #976
Yes I need to work on the CTA & description. See #979 for reference.

[2020-09-21 00:44] vagarwalla commented on #977
Here's the folder, it's not public for anyone with link: https://drive.google.com/drive/u/0/folders/1uL1P_rGsaz7Wab3e2QGz3SsG6Lt0Uqvo

[2020-09-21 01:01] vagarwalla commented on #978
I wasn't aware that countries were open text. Here are my thoughts:

**Use case of multiple locations**
Some people are from 1 country/city, but living in another and want to be found by people intersted in both areas.

**For a proper solution**
- There is only 1 country & 1 city field but both are multi-select. Countries should be multi-select dropdown (no extra options). Cities can use the taggi

[2020-09-21 07:43] victor-yunenko commented on #973
I agree, I also intend to index all the fields that aren't filterable through dropdowns 👌

[2020-09-21 08:27] victor-yunenko commented on #977
Thank you, that looks great 👍

Could you also add me (victor.yunenko@gmail.com) as an editor to the folder - probably along with other team members - then I can start dropping the files as our comparison spreadsheet in there :)

[2020-09-26 12:18] victor-yunenko commented on #958
Technical update:
- from [the documentation](https://www.algolia.com/doc/guides/managing-results/refine-results/faceting/?language=python) algolia faceted search appears to be quite suitable, I'll start trying to integrate it - I already created an account and sent out the invites to Sebastian, Michal and Vaidehi
- for the frontend it seems that vue.js + typescript is going to be a good fit, I'll

[2020-09-26 12:49] victor-yunenko commented on #500
Since we're working on the new search (most likely based on Algolia or another search engine), I'll close this ticket in favor of #958. Please feel free to reopen if needed 👌

[2020-09-26 12:49] #500 closed

[2020-09-26 12:59] victor-yunenko commented on #978
I agree with the feature creep issue - I naturally wouldn't include it in the first MVP since it would definitely require firstly implementing the initial version working version, and then - instead of rolling it out to the live server - we would need ~1 more month of internal work to handle those selection, tags and multiple cities/countries per users problems. While if we push it live first - th

[2020-09-26 13:01] victor-yunenko commented on #973
I'll close this ticket for now then - since with Algolia we shouldn't have problems with search through all the available fields 👌

[2020-09-26 13:01] #973 closed

[2020-09-26 13:35] victor-yunenko commented on #958
I looked through the tickets related to the search - the description was quite detailed which is great 👍  - having the search description being split on 5 tickets confused me a bit though 😅

I combined the 5 descriptions into one and then started removing the duplicated lines or information that would be the default behavior (eg the reset of results after unselecting boxes/dropdown). The result I

[2020-09-26 15:09] victor-yunenko commented on #958
Update:

Aloglia faceted filters look quite great, the backend is already testable here: https://www.algolia.com/apps/PFD0UVG9YB/explorer/browse/profiles

<details>

<summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/36416236/94343802-68f9f880-0023-11eb-9307-24300e52cf3a.png)

</details>

[2020-09-26 18:43] victor-yunenko commented on #958
Update:

So far the intermediate result looks rather satisfying - https://drive.google.com/file/d/1GGkj9ID4TgGLiMGrUovoUmm-UTfukwbP/view

I would let everyone try it out, but we don't have a stage server ;)

[2020-10-18 14:21] vagarwalla opened #982 "Add logging of profile updates, that would allow to analyze the logs in order to assess the profiles activity"
## Desired state
Admins can see which actions users have performed at which time. There are two reasons we'd like this feature:
* To have more data on our user behaviour that we can analyse to improve the page
* Potentially use this data to indicate to other users how up-to-date a profile is

## Acceptance criteria
* Any time a user updates the profile, e.g., changes the summary or adds an organis

[2020-10-18 14:51] victor-yunenko opened #983 "Create a GTM account with custom events"
The full list of goals can be seen on [the metrics spreadsheet](https://docs.google.com/spreadsheets/d/1erHKaoRalZhWyA9wKIst-cuDMqAfSFHGjkOjayEUT1I/edit#gid=0).

The measures that require an event in GTM are marked with the `GTM` tag.

[2020-10-18 15:24] victor-yunenko commented on #982
Better yet - speaking of [our metrics spreadsheet](https://docs.google.com/spreadsheets/d/1erHKaoRalZhWyA9wKIst-cuDMqAfSFHGjkOjayEUT1I/edit#gid=0) - we can log in our database every update of the profile.

Later on in few clicks we export that data in CSV and start building any kind of graph that we want using google sheets 👌

[2020-10-18 17:59] victor-yunenko opened #984 "Migrate from Azure to Divio (or Elastic Beanstalk)"
- [x] confirm that our traffic is within 1TB of data per month (it's by far less)
- [x] confirm that the subscription price is unrelated to Victor
- [x] get a confirmation that the migration won't affect the legal responsibility for the data
- [x] schedule in the migration with the person who has access to DNS
- [x] set DNS TTL to 5m
- [x] enable the maintenance mode on eahub
- [x] push the latest

[2020-10-19 00:12] vagarwalla opened #986 "Profile Messaging: Switch messaging on/off in Edit Profile"
We need to let users opt in/out of being messaging.

* Add a checkbox at the bottom of the EA Hub Profile Edit screen (https://eahub.org/profile/edit/) which says :
"Allow others to message me" [selected by default]
* There will also be a question mark info icon next to it that upon hovering will show a tooltip which says:
"Users will be able to send you messages, which you will receive via email.

[2020-10-19 00:15] vagarwalla commented on #939
I've created issue #986 to update profile edit feautre so users can toggle messaging on/off.

[2020-10-19 00:18] vagarwalla commented on #968
@sebgrebe @victor-yunenko this issue is resolved right?

[2020-10-22 00:10] vagarwalla opened #987 "Delete inactive users"
There are several thousand inactive users who didn't reactive their accounts that we need to delete to be compliant with GDPR.

[2020-10-22 01:10] vagarwalla commented on #978
Just to recap, this issue will be addressed post-MVP launch:
- Multi-city and multi-country selection (using a tagging system)
- select all filter button for the search

[2020-10-24 12:26] victor-yunenko commented on #161
@sebgrebe, it sounds as it could be resolved through #72, do you think we should merge those two tickets?

[2020-10-24 15:35] victor-yunenko commented on #958
Hi @vagarwalla, regarding the following issue that you had:

I was able to reproduce it before, but not anymore, could you confirm whether the issue persists? FYI I'm testing on https://eahub-stage.us.aldryn.io/profiles/

[2020-10-24 15:38] victor-yunenko commented on #958
@vagarwalla I would say the typo-tolerance is a desirable behavior. Basically if I disable it then people who search for `effetcive altruism` wouldn't be able to see the results as `effective altruism`. Does that make sense to you?

[2020-10-24 15:51] victor-yunenko commented on #958
FYI the typos are of course presented below the normal search results and usually visible only when nothing else was found👌

[2020-10-25 11:35] #941 closed

[2020-10-25 12:29] #970 closed

[2020-10-25 12:35] sebgrebe commented on #986
Should be on by default

[2020-10-25 13:02] victor-yunenko commented on #958
@vagarwalla, @sebgrebe, it appears that we might not need those buttons anymore, since they're either part of the navbar or the search filters?

I think if we have data from GA regarding which of those buttons are used most often we can refactor them into something more similar to CTAs?

![image](https://user-images.githubusercontent.com/36416236/97107874-7bbf2600-16d2-11eb-8053-268da8e457ab.png)

[2020-10-25 14:32] vagarwalla commented on #958
Okay, let's leave it in for now!

[2020-10-25 14:41] vagarwalla commented on #165
We need to define the end-to-end tests to be scripted.

[2020-10-25 21:42] victor-yunenko opened #988 "Try to temporary switch to recaptcha v2 from v3 in order to see whether it can stop the spam profiles creation"
Looks like v3 captcha is working (according to its admin panel), although it isn't the first time when I'm hearing that it can give false-negatives.

v2 captcha might be less friendly to the users but I as far as I know it's more reliable.

I also don't think that it's great to use v3 without having a v2 fallback in place (and it looks like we don't?), since then eg users on VPN might get a captch

[2020-10-26 03:25] vagarwalla commented on #958
Just checked and the views are very low - just 5-22 views in the last 1 year. I think if we just have the filter that should be enough for now? And we can think about reintroducing the buttons at a later date?

[2020-10-26 03:30] vagarwalla commented on #958
I just checked again on that server and I couldn't recreate the bug! So it looks like it's been fixed?

[2020-10-26 12:18] victor-yunenko commented on #976
The up to date figma file - https://www.figma.com/file/JjIafsXe4fuy5sM2bmsf91/Homepage

The credentials for editing can be provided by me on request.

[2020-10-26 18:46] victor-yunenko opened #989 "Groups import from Zoho with update & creation of the existing & new groups"
- [x] Victor to provide a CSV file example
- [x] receive the complete CSV data (Catherine hopes to get it somewhere within 1-2 weeks)
- [x] confirm that the email is related to the group only, not the organizers, if that's not the case handle it appropriately (spot check)
- [x] don't use the `type` field, use only the new `types`
- [x] hide the new export if it isn't completely aligned with the ol

[2020-10-26 19:20] victor-yunenko commented on #989
Hopefully I'll be able to provide the CSV examples (with & without IDs) sometime over this weekend 👌

[2020-10-30 21:55] victor-yunenko commented on #976
As I can see the homepage map is loading the data from a JSON plain string rendered in the HTML response. I believe that might be the reason why the homepage response takes 2-3 seconds. I'll try to drop the map and see whether the performance returns to normal.

[2020-10-31 13:23] sebgrebe opened #991 "fix bug with downloading groups in Admin panel"

[2020-10-31 16:12] sebgrebe commented on #987
I'm not sure how we can distinguish between active and inactive users.

There are approved and unapproved users, but the first unapproved user is from November 2019, all users added prior to this are added, so I don't think this captures those that were added and then didn't active their account.

There is the notion of active users in the admin panel, but *all* our 4000+ users are active.

I assu

[2020-10-31 16:42] #962 closed

[2020-10-31 18:35] cafelow commented on #991
@sebgrebe I'll expect to fix EA Toronto when I'm doing the data update with Victor later this week. Then we don't have to fix the bug.

[2020-11-01 10:08] sebgrebe commented on #991
@cafelow This has already been solved for reasons that are not clear to me.
In any case, the bug might reappear with another group, so it's worth fixing

[2020-11-01 13:23] victor-yunenko commented on #989
Hi @cafelow, btw could you remind me about the deadline just in case?

[2020-11-01 19:57] victor-yunenko commented on #989
Hi @cafelow, I implemented the new import. I didn't deploy it yet to the stage server, but here's an example of how an import confirmation could looks like, where I updated an email of a group and added a new one.

I also invited you to the spreadsheet that contains two sheets:
- [exported groups](https://docs.google.com/spreadsheets/d/1QuKuDKYcifYU0VDAzD2HF2G1XVBPT8CLReVC__f5Zqo/edit#gid=20925855

[2020-11-01 19:59] victor-yunenko commented on #989
*the screenshot of the import confirmation was incorrect and didn't contain the email update

[2020-11-01 20:02] victor-yunenko commented on #989
FYI I didn't test the import though, only prepared an import spreadsheet example.

[2020-11-01 20:12] victor-yunenko commented on #989
It's been also deployed to the stage - https://eahub-stage.us.aldryn.io/admin/localgroups/localgroup/

[2020-11-02 23:37] vagarwalla opened #995 "Missing organizations in the organization list:"
Add to the Profile organizations in the organization list (these ones seem more obvious):

Future of Humanity Institute
Center on Long-Term Risk
Animal Ethics
Giving What We Can
LessWrong
Center for Applied Ratioanlity
Happier Lives Institute
Innovations for Poverty Action
J-PAL
All-Party Parliamentary Group for Future Generations
Centre for Enabling EA Learning and Research
The Legal Priorities P

[2020-11-08 13:02] #942 closed

[2020-11-08 13:02] victor-yunenko commented on #942
It's been handled on profiles, and the group view actually looks ok after a page refresh.

[2020-11-08 13:02] victor-yunenko commented on #958
- indicate that filtering is active on mobile view (right you can't guess whether you're looking at a filtered view or not)
- show the filters in the url to allow sharing
- add the map on top
- improve the styling (navbar, menu, buttons)

[2020-11-08 13:22] vagarwalla commented on #971
- [ ] Add a Forum Profile links in the social media links. Will have the EA logo as the icon that lights up.

[2020-11-08 13:57] #72 closed

[2020-11-08 13:59] #161 closed

[2020-11-08 14:00] #290 closed

[2020-11-08 14:01] #416 closed

[2020-11-08 14:06] #369 closed

[2020-11-08 14:07] #512 closed

[2020-11-08 14:07] #577 closed

[2020-11-08 14:07] #525 closed

[2020-11-08 14:09] #596 closed

[2020-11-08 14:09] #3 closed

[2020-11-08 14:10] #415 closed

[2020-11-08 14:12] #651 closed

[2020-11-08 14:19] #418 closed

[2020-11-08 14:21] #650 closed

[2020-11-08 14:23] #813 closed

[2020-11-08 14:25] #940 closed

[2020-11-08 14:26] #854 closed

[2020-11-08 14:27] #791 closed

[2020-11-08 14:28] #575 closed

[2020-11-08 14:29] #566 closed

[2020-11-08 14:34] #880 closed

[2020-11-08 14:41] victor-yunenko commented on #569
It's definitely a good point 👍

Since we're moving to [the new faceted search](https://eahub-stage.us.aldryn.io/profiles/) (for profiles & groups) with infinite loading I guess we're going to resolve it by default :) ? I'll close this ticket then 👌

[2020-11-08 14:41] #569 closed

[2020-11-08 15:07] victor-yunenko commented on #229
We're planning a soft redesign in the future, during which the forms would definitely be updated, hence I guess we can close this ticket for now? Please feel free to reopen if needed.

[2020-11-08 15:07] #229 closed

[2020-11-08 15:19] victor-yunenko commented on #335
It's now possible with `divio project pull db test` and `divio project pull media test` 👌

[2020-11-08 15:19] #335 closed

[2020-11-08 15:21] sebgrebe commented on #982
@victor-yunenko it seems that your ask is a bit different from @vagarwalla's:
* Proposal 1:  Add a DateTime field "last_updated" to user model that is updated every time the user makes a change to their profile. Default is the date user's profile was created
* Proposal 2: Create a table that logs every user action. The field "last_updated" mentioned in Proposal 1 can be inferred from this log tabl

[2020-11-08 15:21] victor-yunenko commented on #339
I think it would make sense to maintain a working test db on the stage server and then on the local instance run `divio project pull` commands when needed. Please feel free to reopen if that doesn't sound sufficient.

[2020-11-08 15:21] #339 closed

[2020-11-08 15:24] victor-yunenko commented on #405
We've talked today about the possibility of adding a multi-step form in the future (probably on vuejs) and a ckeditor WYSIWYG field for the text description. I guess we could specify it in more detail at that stage? I'll close this ticket for now then, please feel free to reopen if needed.

[2020-11-08 15:24] #405 closed

[2020-11-08 15:29] victor-yunenko commented on #519
I guess it isn't relevant anymore? Please feel free to reopen if that isn't the case.

[2020-11-08 15:29] #519 closed

[2020-11-08 15:30] victor-yunenko commented on #522
Closing due to inactivity, please reopen if needed.

[2020-11-08 15:30] #522 closed

[2020-11-08 15:38] victor-yunenko commented on #523
Probably it isn't actually anymore since in a year all the links that could have been replaced have been replaced? I'll close this ticket then, please feel free to reopen if needed.

[2020-11-08 15:38] #523 closed

[2020-11-08 15:39] victor-yunenko commented on #527
I guess it won't be actual anymore?

[2020-11-08 15:39] #527 closed

[2020-11-08 15:39] victor-yunenko commented on #529
It's been addressed during the search addition 👌

[2020-11-08 15:39] #529 closed

[2020-11-08 15:41] victor-yunenko commented on #535
Not sure about the exact use case, I guess it isn't about CSFR since it has a default error message? About the map perhaps? For now I'll close it as part of the tickets cleanup, but please reopen if needed.

[2020-11-08 15:41] #535 closed

[2020-11-08 15:44] victor-yunenko commented on #982
I guess it would be relatively easy, eg a `post_save` signal that calls:
[code]

It might be a better idea to store the author since by adding a `last_updated_at` field with an `auto_now=True` kwarg we could accidentally reset that data eg when we run a global python migration or edit somebody in the admin panel. Having an `author` field that would be either `User` or `None` might be of help.

[2020-11-08 15:45] victor-yunenko commented on #982
Of course we can also just add a timestamp for now and put the updates model creation into the backlog

[2020-11-08 15:48] sebgrebe commented on #982
I would say if @vagarwalla doesn't need the last_updated field immediately, I'm happy to implement the updates model now. Not having looked into this much, I guess I could commit to doing this within the next 2-3 weeks.

[2020-11-08 15:49] victor-yunenko commented on #599
I haven't seen excessive logs lately, perhaps it's been resolved? I'll close the ticket for now then, please feel free to reopen if needed.

[2020-11-08 15:49] #599 closed

[2020-11-08 15:52] victor-yunenko commented on #602
I'm assuming all search engines & bots have stopped trying to access the old urls, I'll close this ticket based on that guess.

[2020-11-08 15:52] #602 closed

[2020-11-08 15:52] victor-yunenko commented on #603
Closing due to inactivity, please feel free to reopen if needed.

[2020-11-08 15:52] #603 closed

[2020-11-08 15:57] victor-yunenko commented on #663
Yes, django handles it out of the box unless it's disabled intentionally 👌

[2020-11-08 15:57] #663 closed

[2020-11-08 15:57] victor-yunenko commented on #653
Closing due to inactivity, please feel free to reopen if needed.

[2020-11-08 15:57] #653 closed

[2020-11-08 15:59] victor-yunenko commented on #632
It's been addressed on the divio branch 👌

[2020-11-08 15:59] #632 closed

[2020-11-08 15:59] #721 closed

[2020-11-08 16:01] victor-yunenko commented on #620
Looks like django-hijack and django-hijack-admin are more feature-complete?

[2020-11-08 16:02] #488 closed

[2020-11-08 16:02] victor-yunenko commented on #616
Closing due to inactivity, please feel free to reopen if needed.

[2020-11-08 16:02] #616 closed

[2020-11-08 16:03] victor-yunenko commented on #615
Closing due to inactivity, please feel free to reopen if needed.

[2020-11-08 16:03] #615 closed

[2020-11-08 16:04] victor-yunenko commented on #612
Closing since I'm assuming that the old links have been updated/dropped during the last year. I also wasn't able to find that url in google index. Please feel free to reopen if needed.

[2020-11-08 16:04] #612 closed

[2020-11-08 16:04] victor-yunenko commented on #611
Closing since I'm assuming that the old links have been updated/dropped during the last year. I also wasn't able to find that url in google index. Please feel free to reopen if needed.

[2020-11-08 16:04] #611 closed

[2020-11-08 16:05] victor-yunenko commented on #610
Closing since I'm assuming that the old links have been updated/dropped during the last year. Please feel free to reopen if needed.

[2020-11-08 16:05] #610 closed

[2020-11-08 16:05] victor-yunenko commented on #608
Closing since I'm assuming that the old links have been updated/dropped during the last year. Please feel free to reopen if needed.

[2020-11-08 16:05] #608 closed

[2020-11-08 16:05] victor-yunenko commented on #605
Closing since I'm assuming that the old links have been updated/dropped during the last year. Please feel free to reopen if needed.

[2020-11-08 16:05] #605 closed

[2020-11-08 16:08] vagarwalla commented on #982
There's no urgency for this feature! If we do this post MVP, I'd prefer the activity logging one, but only if it's not a lot more effort.

[2020-11-08 16:10] victor-yunenko commented on #755
I'll close it for now and once we add sentry we should be able to see whether the issue persists on AWS.

[2020-11-08 16:10] #755 closed

[2020-11-08 16:13] victor-yunenko commented on #727
It's used in two places on the internet. I advice to add a simple django redirects app to the admin panel to handle it.

[2020-11-08 16:14] victor-yunenko opened #999 "Integrate a django redirects handling app with a simple admin UI"
- /groups/resources/possible-events - used in 2 places

[2020-11-08 16:14] victor-yunenko commented on #727
Closing in favor of #999

[2020-11-08 16:14] #727 closed

[2020-11-08 16:15] victor-yunenko commented on #652
Closing in favor of #999

[2020-11-08 16:15] #652 closed

[2020-11-08 16:16] victor-yunenko commented on #604
I believe we have another ticket for that which would allow url editing, I'll close this issue for now then.

[2020-11-08 16:16] #604 closed

[2020-11-08 16:17] victor-yunenko commented on #969
Closing since it's been handled within #958

[2020-11-08 16:17] #969 closed

[2020-11-08 16:18] victor-yunenko commented on #968
In general yes, we will need to document it better later on, but that probably should be within a ticket about the readme.

[2020-11-08 16:18] #968 closed

[2020-11-08 16:20] victor-yunenko commented on #901
For now closing in favor of #976 👌

[2020-11-08 16:20] #901 closed

[2020-11-08 16:23] victor-yunenko opened #1000 "Update the README.md"
add divio setup instructions, including:
- database reset
- stage urls

[2020-11-08 16:24] #1000 closed

[2020-11-08 16:24] victor-yunenko commented on #795
Good point, added it to #984

[2020-11-08 16:24] #795 closed

[2020-11-08 16:25] victor-yunenko commented on #793
I added it to #984

[2020-11-08 16:25] #793 closed

[2020-11-08 16:26] victor-yunenko commented on #792
Hm, not sure what should be done here? I'll close this ticket for now, please feel free to reopen if needed.

[2020-11-08 16:26] #792 closed

[2020-11-08 16:26] victor-yunenko commented on #790
Not sure about the exact use case, I'll close this ticket for now then.

[2020-11-08 16:26] #790 closed

[2020-11-08 16:30] victor-yunenko commented on #972
Closing as part of #958

[2020-11-08 16:30] #972 closed

[2020-11-08 16:31] victor-yunenko commented on #975
Closing since it's been implemented within #958

[2020-11-08 16:31] #975 closed

[2020-11-08 16:32] victor-yunenko commented on #974
Closing since it's been implemented within #958

[2020-11-08 16:32] #974 closed

[2020-11-08 16:40] victor-yunenko commented on #837
Closing due to inactivity, please feel free to reopen if needed.

[2020-11-08 16:40] #837 closed

[2020-11-08 16:41] victor-yunenko commented on #848
I guess it might have been resolved during the webpack config refactoring? If it hasn't been then it's going to popup on the javascript error monitoring from #756 👌

[2020-11-08 16:41] #848 closed

[2020-11-08 16:43] victor-yunenko commented on #830
It's a good point that Michal raised in #920, let's move the discussion to that ticket.

[2020-11-08 16:43] #830 closed

[2020-11-08 16:44] victor-yunenko commented on #700
Closing due to inactivity, please feel free to reopen if needed.

[2020-11-08 16:44] #700 closed

[2020-11-08 16:45] victor-yunenko commented on #159
Let's close it for now, if #846 doesn't help we can figure it out there.

[2020-11-08 16:45] #159 closed

[2020-11-08 16:48] victor-yunenko commented on #688
Closing as it's been handled within #984

[2020-11-08 16:48] #688 closed

[2020-11-08 16:50] victor-yunenko commented on #964
I guess the decision was to wait for a while and collect more fields in #971?

[2020-11-08 16:50] #964 closed

[2020-11-08 16:54] victor-yunenko commented on #920
I would say the best practice here is to make the `<title>` tag extendable, eg

[code]

and then extend `page_title` on every page.

[2020-11-08 16:55] victor-yunenko commented on #895
closing since I guess it's a duplicate of #920?

[2020-11-08 16:55] #895 closed

[2020-11-08 17:03] victor-yunenko commented on #859
I guess it's what I've been slowly composing here as a google doc for now - https://docs.google.com/document/d/1v_dxO8Djg0_dJGbgD7aYrnugGEKbR84lppT35gKFafc/edit

[2020-11-09 21:45] sebgrebe commented on #982
@vagarwalla, great, I'll do the activity logging one then

[2020-11-11 13:50] #987 closed

[2020-11-11 17:25] victor-yunenko opened #1001 "Exclude "Report Abuse" pages from search indexes with content="noindex""
Just add `<meta name="robots" content="noindex">` to their `<head>` tags.

[2020-11-11 17:48] victor-yunenko commented on #948
Sounds as if we switched to a M2M model we would resolve all those issues using the native django widget? And would be also start using the native admin list filters?

[2020-11-11 17:50] victor-yunenko commented on #625
The migration to divio reduced the initial server iresponse time from 2500ms to 500ms, and that's without caching. With caching we should be able to reduce it to 50-100ms. I suspect that Azure hasn't been configured for our django app somehow.

Still even on divio.com the homepage doesn't load all that fast, I suspect that it might be related to the map data being passed as an inlined JSON blob.

[2020-11-11 18:09] victor-yunenko opened #1003 "Allow users to select custom countries, cause areas, organizations and etc, using a stackoverflow-like tag selector"
This is certainly a substantial task that should be considered carefully, since it would drain a significant amount of effort from other potentially more impactful improvements.

![image](https://user-images.githubusercontent.com/36416236/98847705-544db480-2459-11eb-82df-e7d9b6246d24.png)

The technical specification is relatively straightforward though:
- django `GenericForeignKey` Tag model with

[2020-11-11 18:13] victor-yunenko commented on #1003
There's also the go-to package for django tags - django-taggit, but its interface is primary suitable for admin panel as far as I can see. Yet we might consider it as a deadly cheap alternative.

[2020-11-11 18:16] victor-yunenko commented on #1003
For frontend we could use eg http://www.vue-tags-input.com/#/

[2020-11-11 18:19] victor-yunenko commented on #1003
My guesstimate would be 20-50h.

[2020-11-13 20:06] victor-yunenko opened #1004 "Migrate feedback.eahub.org fider.io to a self-hosted instance because it's going to be shut down on December 31st"
- divio project - https://control.divio.com/control/71735/edit/88703/
- stage server - https://eahub-fider-stage.us.aldryn.io/
- repository - https://gitlab.com/effective-altruism/eahub-fider

The next steps:

- [x] migrate the SQL database
- [x] set DNS TTL to 1m
- [ ] migrate the media files
- [x] point the DNS to the new server with a CNAME record feedback.eahub.org CNAME eahub-fider.us.aldryn.

[2020-11-13 20:10] victor-yunenko commented on #1004
Hi @sebgrebe, good news here - I got it up & running within half an hour 👍

It's working with two lines in Dockerfile:
[code]

Here's the divio project - https://control.divio.com/control/71735/edit/88703/

The next steps:
- set DNS TTL to 1m
- export & import the database
- point the DNS to the new server with a CNAME record `feedback.eahub.org CNAME eahub-fider.us.aldryn.io`

[2020-11-13 20:10] victor-yunenko commented on #1004
I don't have access to rtcharity, hence I had to create it on gitlab - https://gitlab.com/effective-altruism/eahub-fider

[2020-11-13 20:12] victor-yunenko commented on #1004
@sebgrebe, would you be able to help with the DNS steps & db export? I'm not sure who has access to the existing instance data.

[2020-11-13 20:14] victor-yunenko commented on #1004
Looks like I also already have access to the db export [here](https://feedback.eahub.org/admin/export) - hence that's solved 👍

[2020-11-13 20:16] victor-yunenko commented on #1004
Although I actually need a psql dump, while that export contains only JSON files.

[2020-11-13 20:24] victor-yunenko commented on #1004
FYI right now it's running on the permanently free divio subscription - its main downsides:
- It doesn't allow more than 10GB of data transfer per month (ie ~75'000 unique users per month) - which doesn't seem like a problem. And even if we manage to go over 10GB then it won't be shut down, we will just receive an email with the request to consider another subscription tier.
- The live server is b

[2020-11-15 00:31] vagarwalla commented on #1003
- Thanks for the time estimate! I think that this task is probably worth it but we can delay to Q1/Q2 of 2021.
- Recommend not having "custom countries" since we have a country tag already
- Suggestions for the kinds of tags people should add in grey text. E.g. _Use these tags to indicate important organisational, identity, or other affiliations such as your university, school, uncommon cause area

[2020-11-15 10:20] victor-yunenko commented on #1003
I agree about dropping `custom countries` - I think the only use case it had was the ability to select several countries at once, which should be done with a multi-select in any case 👌

Also I recommend to treat that ticket as the first milestone for any field, and discuss what specific fields should be based on it in different issues.

This implementation ideally would be a django package not rel

[2020-11-15 11:17] victor-yunenko commented on #1004
Hi @michaltrzesimiech, Sebastian mentioned that we should ask you for the DNS access?

[2020-11-15 11:20] #1001 closed

[2020-11-15 11:38] victor-yunenko opened #1006 "Apply the best practice for requirements management - introduce complete freezing with manageable compilation (eg with pip-compile)"

[2020-11-15 11:55] vagarwalla opened #1007 "Update the old navbar to look like the new navbar"

[2020-11-15 11:59] mattg95 opened #1008 "Hash tag links covered by the fixed header"

[2020-11-15 12:15] victor-yunenko opened #1009 "Enable sentry error logging for python & javascript, and then request the sponsorship account"
It appears that only few people have access to the error logs, and also they're azure-dependent.

To have full control over the logs and manage the access efficiently I propose to enable sentry logging, for js and python.

[2020-11-15 12:15] vagarwalla commented on #807
Seb could not reproduce this error.

[2020-11-15 12:18] victor-yunenko commented on #1009
Hi @michaltrzesimiech, would you be able to create an email as tech@eahub.org, which would redirect its emails to users as vaidehi@eahub.org, sebastian@eahub.org, etc?

I could send sentry errors to it then.

[2020-11-15 12:20] vagarwalla commented on #734
We could not reproduce the issue for EA Toronto & EA Singapore. Now there is a message.

[2020-11-15 12:20] #734 closed

[2020-11-15 12:25] vagarwalla commented on #864
#557 Related issue

[2020-11-15 12:29] victor-yunenko commented on #1008
Good point, thanks for the ticket!

I think it might make sense to handle it during the redesign? Or did you notice a place where it would be important to figure it out in the next 1-2 months?

[2020-11-15 12:36] vagarwalla commented on #920
Simple version:

- [ ] Groups

- [ ] Profiles

- [ ] Homepage

[2020-11-15 12:43] vagarwalla commented on #264
Check related merge request.

[2020-11-15 12:44] victor-yunenko commented on #1006
This is a duplicate of #627 627

[2020-11-15 12:44] #1006 closed

[2020-11-15 12:49] victor-yunenko commented on #920
in short we need:
- title
- description
- image (we can use the logo here by default)

[2020-11-15 15:16] vagarwalla commented on #756
@victor-yunenko What label should this issue have?

[2020-11-15 15:30] victor-yunenko commented on #756
Let's close this in favor of #1009 to keep things simpler 👌

[2020-11-15 15:30] #756 closed

[2020-11-15 15:49] vagarwalla commented on #920
**THIS IS A WIP.**

**Groups**
title: EA Groups Directory
description:
image: [ea groups map screenshot?]

**Profiles**
title: EA Community Directory
description
image: [picture of the colorful profile images?]

**Homepage**
title: EA Hub
description: TBD
image: Hub Logo / homepage preview?

**Individual Group Directory (filtered view)**
title: [Full group name]
description: [group description fro

[2020-11-15 15:49] vagarwalla commented on #920
@victor-yunenko How long is the description supposed to be?

[2020-11-15 16:16] victor-yunenko commented on #920
We can just stick to the common best practices, eg something as https://yoast.com/meta-descriptions/

[2020-11-15 16:25] victor-yunenko opened #1010 "Add a sitemap for profiles since search engines might dislike the infinite scroll (it's RAM-demanding for crawlers)"
There are fine packages for generating sitemaps, let's set one up.

We probably might include groups into it as well, as long as we're at it.

[2020-11-15 16:45] victor-yunenko opened #1011 "Cleanup the labels as they seem to correlate with each other, not used correctly or used only in insufficient amount of cases"
I would recommend to keep only the labels that are helpful for the issues processing.

- `Product Emergency` - no open issues, highly correlates with `High Priority` since they imply the same idea I guess?
- `Database` - that one hasn't been used correctly in the last years (at least not according to its description), but even if it had it seems to include too many issues to be helpful during filt

[2020-11-15 19:06] victor-yunenko commented on #984
Checking out `get a confirmation that the migration won't affect the legal responsibility for the data`

[2020-11-15 21:49] victor-yunenko commented on #984
Although Jacob said that he'll double check with Baxter and Siobhan.

[2020-11-15 23:01] victor-yunenko opened #1013 "Switch redis subscription from C1 to C0 (40$), or even disable it"

[2020-11-19 10:50] vagarwalla commented on #1011
Product Emergency/High Prio - Agreed
Database - No opinion, happy to delete
in progress - Agreed
Stability etc - No opinion,  happy to delete
Product Decision/UX: Hmm well there can be UX changes that also need product decisions.

[2020-11-22 10:23] victor-yunenko commented on #1013
From Sebastian: looks like we have enough credits, if we migrate soon most likely it doesn't matter.

Hence we will close this ticket for now.

[2020-11-22 10:23] #1013 closed

[2020-11-22 11:04] victor-yunenko commented on #984
Hi @michaltrzesimiech, could you help us with DNS access? Or could we agree on a migration window?

[2020-11-22 11:08] victor-yunenko opened #1014 "Create 2 email accounts: tech@eahub.org & algolia@eahub.org - and sentry & algolia from Victor's accounts"

[2020-11-22 12:10] sebgrebe commented on #991
this has been done

[2020-11-22 12:10] #991 closed

[2020-11-25 18:26] mattg95 commented on #949
A couple of points not covered above:
- Under the new EAG naming, "mental health" will change to  "mental health/happiness"
- Instead of " Animal welfare and rights" we now have "Farmed animal welfare" and "wild animal welfare". I think we should rename " Animal welfare and rights" >>> "Farmed animal welfare" and create "wild animal welfare" as a new topic.  This will affect users that have ticked

[2020-11-29 11:12] mattg95 commented on #1008
This ticket has had a duplicate ticket opened and resolved at https://github.com/rtcharity/resources.eahub.org

[2020-11-29 11:12] #1008 closed

[2020-11-29 11:46] sebgrebe opened #1016 "Add name of Data Protection Officer to About page"
Legally required. Victor is happy to be this person. Could be on About or Private Policy

[2020-11-29 12:14] victor-yunenko opened #1017 "Revisit the SEO aspect of the links, eg consider accumulating the ranking by adding nofollow attribute to the third-party links"
Eg right now we're linking https://priority.wiki/ without nofollow.

[2020-11-29 12:38] victor-yunenko opened #1018 "Add a feedback box for the profiles search"
* An example of the functionality can be found here - https://optimus.foundation/en/projects/13/ (The email notification isn't necessary for now, as well as the up/down buttons.)
* Only to be added to eahub.org/profiles
* Data should be saved in django model
  * Store page url, too. Atm, this will only be /profiles, but we'd like it to be extandable for the future
* Data should be exportable from

[2020-11-29 13:42] vagarwalla opened #1019 "Redesign the profiles search page"
This is only for major UX fixes so that we are following best practices. Hopefully it should be only a few weeks of work, and a volunteer would be able to implement the changes.

- perhaps add a button to the profiles search as "report an issue"
- add a count to the profile

[2020-11-29 13:47] vagarwalla opened #1020 "Groups Directory Improved Search - added filters & full text search"
This is a very similar search to the community directory with the following faceted filters:

- country
- city
- group type
- status
- and a full text search (including the freetext)

it's a low hanging fruit since we've already done it for the search,
a good first issue for somebody who knows vuejs

I would guesstimate it as 4-12h of work

UX Design for this to come.

[2020-11-29 17:24] sebgrebe commented on #1018
Where should the feedback be sent to/saved?

[2020-11-29 17:27] sebgrebe commented on #1018
And did we decide whether we want to have it on all pages or just on the profiles page?

[2020-11-29 17:29] victor-yunenko commented on #1018
I would create a simple django model with the aforementioned fields

[2020-11-29 17:30] sebgrebe commented on #1018
How would we then get this into a format that Vaidehi can access this? Import from the admin panel? So would we have to add this to?
Or might it be simpler to link the form to a google form, so that Vaidehi can access the feedback there? (I haven't done this before, but I could imagine that there is a way to integrate html forms with google forms

[2020-11-29 17:31] victor-yunenko commented on #1018
Ideally on every page, although since the old pages use bs3 at the moment, we might limit ourselves to the profiles page. Bs5 is just friendlier in terms of modals... and everything else :)

[2020-11-29 17:32] sebgrebe commented on #1018
OK, let's stick with profiles page then

[2020-11-29 17:33] sebgrebe commented on #1018
Oh, but I guess that means that we can't work on this before the new profiles page is in.

[2020-11-29 17:35] victor-yunenko commented on #1018
I would say as any django model, eg:

![image](https://user-images.githubusercontent.com/36416236/100549164-f3581600-3279-11eb-94b8-de998fa239ef.png)

[2020-11-29 17:36] victor-yunenko commented on #1018
I think merging into `divio` sounds ok to me

[2020-11-29 17:38] sebgrebe commented on #1018
I've updated your comment on the requirements

[2020-12-05 17:35] victor-yunenko commented on #1014
Hm, I don't think I'm able to receive emails from tech@ or algolia@ boxes any longer.

[2020-12-05 18:31] victor-yunenko commented on #988
Closing as a duplicate of #459

[2020-12-05 18:31] #988 closed

[2020-12-06 12:22] victor-yunenko opened #1026 "Don't disable "Create a Group" button for unaproved profiles - show a model that explains the approval requirement"

[2020-12-06 13:11] victor-yunenko opened #1029 "We had to disable cloudflare - try migrating to namecheap and see whether we're going to have DDoS issues"

[2020-12-06 13:13] victor-yunenko opened #1030 "Create a divio project for development and import a cleaned database in there without sensitive data"

[2020-12-06 13:14] victor-yunenko opened #1031 "Configure a testing pipeline for divio, since we've migrated from azure, try github actions"

[2020-12-06 15:46] vagarwalla opened #1034 "Refresh on eahub.org/profiles generates increasing pagination"
When you refresh the page eahub.org/profiles (with out without a customer filter) then the pagination increases e.g.:

https://eahub.org/profiles/?page=2
https://eahub.org/profiles/?page=3

etc.

or
https://eahub.org/profiles/?query=gary
https://eahub.org/profiles/?query=gary&page=2

etc.

[2020-12-06 19:30] victor-yunenko commented on #740
Sadly it was indeed the case. I was able to reproduce it accidentally and could debug it.

The reason is that our buttons looked as following:
[code]

While it was supposed to be:
[code]

In other words only the inner part of the buttons (the text) were clickable.

[2020-12-06 19:33] victor-yunenko opened #1035 "On IE11 the map and search don't work, I propose to show a banner about it not being supported and the requirement to upgrade the browser"
I noticed an error in sentry about it and checked it on browserstack and can confirm the issue

@sebgrebe, @vagarwalla, I recommend to add a banner in order to make sure that the users are aware about the site not being usable on IE11, otherwise it looks like the website doesn't work correctly.

[2020-12-06 19:45] victor-yunenko commented on #984
All the checklist items have been moved out into separate tickets, closing the issue 👌

[2020-12-06 19:45] #984 closed

[2020-12-06 19:46] victor-yunenko commented on #1007
It has been deployed 👍

[2020-12-06 19:46] #1007 closed

[2020-12-06 19:47] victor-yunenko commented on #1014
Sorry looked in the wrong mailbox, all is working 👍

[2020-12-06 19:47] #1014 closed

[2020-12-06 19:47] victor-yunenko commented on #1010
it's been done

[2020-12-06 19:47] #1010 closed

[2020-12-06 19:48] victor-yunenko commented on #1009
deployed & tested

[2020-12-06 19:48] #1009 closed

[2020-12-06 19:48] victor-yunenko commented on #983
Hi @taymonbeal, I noticed that you already added GTM, perhaps you could share the access :) ?

[2020-12-06 20:00] victor-yunenko commented on #557
@sebgrebe, @vagarwalla, when I think about it - it sounds as the export is incorrect (doesn't contain personalized sentry logs, http logs, sendgrid emails logs, etc) and misleading.

In the future I can imagine that the cost of maintaining the automatic export is only going to increase (export tags, profile update logs, etc).

That considered, do you think it would be reasonable to remove that but

[2020-12-06 20:07] victor-yunenko commented on #740
deployed and tested 👌

[2020-12-06 20:07] #740 closed

[2020-12-08 20:34] sebgrebe commented on #1035
sounds good to me. No need to support IE11

[2020-12-12 05:54] taymonbeal commented on #983
I didn't add GTM.

[2020-12-13 11:09] vagarwalla opened #1040 "Figure out how to automatically backup the data"

[2020-12-13 11:12] vagarwalla opened #1041 "Approve a sponsored Google Business Suite account for non-profits (for google drive, emails, calendars, etc)"

[2020-12-13 11:50] vagarwalla opened #1042 "Add `Group organizer` filter to the to the search directory"
- [ ] Status filter does not include whether someone is a group organiser or not

![image (2)](https://user-images.githubusercontent.com/32846756/102010976-6bdfcc00-3d7c-11eb-9293-b1f8b1b82647.png)

- [ ] Profile views in the search are also missing an icon for the group organiser (grey or purple, same as the volunteer or speaker icons) group organiser:

![image (3)](https://user-images.githubuser

[2020-12-13 13:04] victor-yunenko commented on #1041
potential benefits:
- full control over the email accounts (forwarding, group accounts, catching lost messages that lend to non-existent emails as random.name@eahub.org
- shared google calendar
- extended quote on google drive and files that are accessible & discoverable by default
- sponsored google maps subscription?

[2020-12-15 08:37] vagarwalla opened #1046 "Have the "logged in" hyperlink in claim this group and report this group be a different colour"
![image](https://user-images.githubusercontent.com/32846756/102190969-b8014c80-3ef3-11eb-9c8d-622d92ac5385.png)

Right now it's hard to see the logged in button.

Either that, or click the button should automatically redirect to the login screen and say "Please sign in to continue"

[2020-12-15 13:45] victor-yunenko commented on #1029
For the context - the cloudflare had to disabled since having a letsencrypt certificate is paid feature there. While a default letsencrypt setup is a best practice for dockerized deployments (aws, heroku, divio, etc)

[2020-12-15 13:50] victor-yunenko opened #1047 "Users are seeing errors when they try to update their cause_areas or careers information - so far 6 users affected"
The sentry errors:
- https://sentry.io/organizations/eahub/issues/2093611928/?project=5545943&query=is%3Aunresolved
- https://sentry.io/organizations/eahub/issues/2089133317/?project=5545943&query=is%3Aunresolved
- https://sentry.io/organizations/eahub/issues/2078270888/?project=5545943&query=is%3Aunresolved

The affected email addresses are stored in the error logs.

@vagarwalla, @sebgrebe, I wou

[2020-12-15 13:50] victor-yunenko commented on #1047
I would be happy to help, but probably no sooner than on Saturday :(

[2020-12-15 20:04] sebgrebe opened #1049 "Allow to filter users in admin panel by donation pledge"
GWWC would like all public (!) user data for "self-identified GWWC" user data.

Implement filter on admin panel for pledge.

[2020-12-15 22:16] victor-yunenko commented on #1047
I can confirm, there's chance no one can edit anything at the moment.

[2020-12-16 04:23] vagarwalla opened #1051 "Redesign Resources header"
Rationale: separate the resources from the EA Hub proper by simplifying the header in Resources to only have resource-specific links

- Only have an External Link to the EA Hub
- No more linking directly to Groups or Community Directory

[2020-12-16 13:41] victor-yunenko opened #1055 "Remove aloglia prod key from the repository and add testing index"

[2020-12-19 14:25] #1049 closed

[2020-12-19 14:56] sebgrebe opened #1061 "Enable running automatic tests on MR after migrating from Azure to Divio"

[2020-12-19 14:58] sebgrebe commented on #958
Can we close this ticket and add new ones for any further improvements and bug fixes to make progress on this more transparent? @victor-yunenko @vagarwalla?

[2020-12-19 15:25] sebgrebe opened #1063 "Regenerate Algolia API key"

[2020-12-19 17:39] victor-yunenko commented on #1055
done & deployed

[2020-12-19 17:39] #1055 closed

[2020-12-19 17:40] victor-yunenko commented on #1040
FYI moving to the backlog for now

[2020-12-19 17:41] victor-yunenko commented on #1061
I guess I'll close it if you don't mind, since I have a branch with the old ticket number #1031 😅

[2020-12-19 17:45] victor-yunenko opened #1064 "Profiles search - add a map, indicate the active filters on mobile"
- indicate that filtering is active on mobile view (right you can't guess whether you're looking at a filtered view or not)
- add a map on the top

[2020-12-19 17:45] victor-yunenko commented on #958
Sounds good to me, I added the remaining points to #1064  👍

[2020-12-19 17:45] #958 closed

[2020-12-19 19:32] victor-yunenko commented on #1063
Done, but FYI now locally you can test algolia only by copying the key from divio 👌

[2020-12-19 19:32] #1063 closed

[2020-12-19 19:37] victor-yunenko opened #1065 "Reset the cache after each deployment with django-extensions manage.py clear_cache command"
For now it can be done manually by connecting to the ssh and running:

[code]

When this command isn't executed a deployment might break the site until the cache is cleared (eg when an algolia api key is changed on the backend but the frontend html has been cached with a old key for 8h).

@sebgrebe, FYI we will need to run this code manually after each deployment until we enable the `manage.py cle

[2020-12-19 19:39] victor-yunenko commented on #1065
I recommend to add the code on top of #1056

[2020-12-20 11:53] victor-yunenko opened #1066 "Send out an email to the deactivated groups about us hiding them"
The emails (private): https://docs.google.com/spreadsheets/d/1SXa_YHMexBPxSa-rDbJ1CRfewVfE2ubAznFFiVVIosY/edit#gid=516086688

[2020-12-20 11:55] vagarwalla opened #1067 "Profiles Search - Bring back the custom URL"
#1034

[2020-12-20 12:08] vagarwalla opened #1068 "Admin can change the options for data fields themselves"
For example, admins can change the list of cause areas users can pick from.

[2020-12-20 12:10] vagarwalla commented on #165
- Need this ASAP after the Forum post to prevent bugs
- Need unit tests, perhaps also write tests as a new feature is being developed

[2020-12-20 12:12] vagarwalla opened #1069 "CEA CRM <> Groups Directory integration"
- This wasn't very urgent but would be nice for Catherine

[2020-12-20 12:14] vagarwalla opened #1070 "Send email to existing users before the Forum Post"

[2020-12-20 12:17] victor-yunenko commented on #1047
Now we need to inform the users, ie:

[2020-12-20 13:18] sebgrebe commented on #1067
Has been fixed

[2020-12-20 13:18] #1067 closed

[2020-12-20 13:18] #1061 closed

[2020-12-20 14:31] victor-yunenko commented on #557
@sebgrebe, @vagarwalla, what do you think?

[2020-12-20 15:04] victor-yunenko commented on #1031
@sebgrebe, I just tested it - we can also trigger the tests manually now 👍

![image](https://user-images.githubusercontent.com/36416236/102716577-6a1a8900-42e5-11eb-88b1-497cda4e4b03.png)

[2020-12-20 15:04] #1031 closed

[2020-12-21 09:28] victor-yunenko commented on #1034
Another solution might be to do only one query and then show it incrementally, as the official docs suggesting - https://www.algolia.com/doc/guides/building-search-ui/ui-and-ux-patterns/infinite-scroll/vue/

[2020-12-21 09:31] victor-yunenko commented on #1040
FYI - I've been quite impressed with heroku so far, and in the next half a year I might propose to move to it, which would change the tech requirements for this ticket.

[2020-12-22 19:37] victor-yunenko commented on #1041
I noticed that a lot of third-party users are using @eahub.org emails, hence a migration of that kind might be fairly complicated from the organizational perspective.

[2020-12-27 12:42] victor-yunenko opened #1078 "Hide the email feature for now with an system environment flag"

[2020-12-27 12:43] victor-yunenko commented on #1078
cc @sebgrebe

[2020-12-27 12:43] sebgrebe opened #1079 "Feature toggle messaging"
We don't want to enable messaging yet because before we do this we want to communicate to users that users will be able to message them, but that this doesn't make their email public

[2020-12-27 12:45] #1078 closed

[2020-12-27 12:54] #864 closed

[2020-12-27 12:58] vagarwalla opened #1080 "Remove the "Download my Data" feature"

[2020-12-27 13:01] vagarwalla commented on #557
Can be closed once #1080 is done

[2020-12-27 13:02] vagarwalla commented on #582
Closed because weren't able to reproduce for the last several months.

[2020-12-27 13:02] #582 closed

[2020-12-27 13:06] vagarwalla commented on #264
It's not free anymore, blocked by #1041

[2020-12-27 13:14] vagarwalla commented on #1016
Add 1 line to About Page.

[2020-12-27 13:20] vagarwalla commented on #627
Update from @victor-yunenko
- Did not remove the bot
- Removed outdated merge requests
- Victor needs to finish planning & testing the go-live.

[2020-12-27 13:24] vagarwalla commented on #726
- Seems most useful for CEA/EA Hub
- Doesn't seem to be a lot of value right now
- It might be misleading information/noise on the page
Decision: see it in admin panel, but not on public view.

[2020-12-27 13:29] vagarwalla opened #1081 "Remove blacklisted domains"

[2020-12-27 13:29] vagarwalla commented on #956
- We will not do this, instead we will fix the captcha is fixed #459 then this is not a major issue
- New ticket created #1081

[2020-12-27 13:29] #956 closed

[2020-12-27 13:32] vagarwalla commented on #999
Victor, please reassign to someone else :)

[2020-12-27 13:37] vagarwalla opened #1082 "Set up email notifications to upon new profile creation"
- Should go to admin@eahub.org
- Email should contain ALL data the user inputted
- Put approved link - link to Django

[2020-12-27 13:47] vagarwalla commented on #976
- Haneesha will get back to us with a proposal

[2020-12-27 13:52] victor-yunenko commented on #1065
Added to the PR

[2020-12-27 14:22] victor-yunenko opened #1083 "Reindex aloglia on each deployment by adding it to settings.MIGRATION_COMMANDS"

[2020-12-27 14:24] #1042 closed

[2020-12-30 17:37] victor-yunenko commented on #1004
Unfortunately the author won't be able to help with an SQL dump, but he shared a snippet for converting the JSON export to SQL, which I should be able to utilize 👍

https://gist.github.com/m3nu/1228a25b883ae8c49de471d0c8d37b90

[2020-12-30 17:39] victor-yunenko commented on #1004
I'll try to do the migration either today or tomorrow then. Which is still hardly timely, sorry about that.

[2020-12-30 21:04] victor-yunenko commented on #1004
I had to go through a long set of conversation and devops issues with the script, but in general I’m on a good track.

[2021-01-01 01:54] vagarwalla commented on #989
Closing this issue since it was moved to Done by Seb. Please reopen if I'm mistaken.

[2021-01-01 01:54] #989 closed

[2021-01-01 02:08] vagarwalla commented on #995
Hey guys! Just realised the EA Hub is missing from the organisation list!  ;D
Can we list as: Effective Altruism Hub.

[2021-01-01 16:55] sebgrebe opened #1086 "Shut down azure"
We've moved to divio. However, the azure infrastructure is still up and running and costing RT Charity credits.

As part of this issue:
* Assess whether there is anything in azure we're still reliant on.
* Shut everyhing down in azure we don't need anymore

[2021-01-01 17:20] sebgrebe commented on #995
We're too humble. I guess this makes the Hub becoming an independent entity official? ;)

[2021-01-01 17:22] sebgrebe commented on #995
@vagarwalla to answer your question regarding which ones to add: I'd be happy to add the orgs listed in the forum post (you might also have seen that there is a comment explicilty mentioning the Hub, criticising that we don't have those lists).

Generally, this raises the interesting question of how this should be decided. We don't want to play gate keeper, but of course we also shouldn't add orgs

[2021-01-01 19:02] victor-yunenko commented on #1004
After 5 hours of migration I almost gave up and started considering transferring user votes manually. It did work in the end, I documented the migration steps in the README (https://gitlab.com/effective-altruism/eahub-fider) and updated the DNS records 🚀

[2021-01-01 19:03] victor-yunenko opened #1087 "The new fider (feedback.eahub.org) instance is hosted for free but needs manual weekly/monthly backups"
https://control.divio.com/control/71735/edit/88703/backups/

[2021-01-01 19:04] victor-yunenko commented on #1004
I haven't invested more time into the S3 utilization since we don't really have any pictures in there in any case. If it becomes a problem we can revisit it later.

[2021-01-01 19:04] #1004 closed

[2021-01-01 19:04] victor-yunenko commented on #1087
cc @sebgrebe

[2021-01-01 19:58] victor-yunenko commented on #995
Personally I would just satisfy the majority of users' requests. The organizations are filterable, and there's not much difference in having 100 or 1000 organizations. As long as the end-users are happy, why not?

[2021-01-01 20:16] sebgrebe commented on #995
The tricky bit is what if the end users disagree? Someone might want to add an org that the vast majority of users wouldn't consider EA. Or someone might want to add an org which is a prototype of a non-EA org (e.g., "Make a wish foundation")

[2021-01-01 20:20] victor-yunenko commented on #995
It's a fair point, but before discussing it in detail I would wait until a disagreement occurs since it seems as it might not happen?

[2021-01-01 20:22] victor-yunenko commented on #995
For me it would be ok, the field is called "organizational afflictions", not "official EA organizational affiliations" :)

[2021-01-03 11:45] victor-yunenko opened #1089 "The pytest on github actions sometimes fails with a postgres connection error - a rerun helps"
an example - https://github.com/rtcharity/eahub.org/runs/1676518200?check_suite_focus=true

[code]

[2021-01-03 12:35] vagarwalla commented on #971
- To be searchable needs to show up in the cards, otherwise it's confusing where it is
- Join it to the bottom of the summary - not pretty but the text will show up.

TO-DO
- Add Needs & Gives appended to the bottom of the Summary and fully searchable

[2021-01-03 12:37] vagarwalla opened #1090 "New Forum Profile User Link to social media links"

[2021-01-03 12:38] #949 closed

[2021-01-03 12:40] vagarwalla commented on #459
Some users were blocked because the wrong pattern was blocked (e.g. .info/.iu)

[2021-01-03 14:06] vagarwalla commented on #976
Update:

- We are using section 1 & 3 of Haneesha's mockup

Text:
**Tagline**
A global directory for effective altruists
Community directory

Below the fold
2 Static screenshots & information
**Groups Directory**
Connect with local, national and virtual groups
**Community Directory**
Search our global directory of thousands of EAs

[2021-01-03 14:07] vagarwalla commented on #1016
Closing because it will be covered in the About page #979

[2021-01-03 14:07] #1016 closed

[2021-01-03 14:14] vagarwalla commented on #995
- Will add all the organisations listed here: https://forum.effectivealtruism.org/posts/f6kg8T2Lp6rDqxWwG/list-of-ea-related-organisations#comments
Vaidehi has requested access to the Notion in case there are more, but if this issue is not updated by the time someone is working on it you can just use the forum post.

[2021-01-03 14:19] vagarwalla opened #1091 "Refine Messaing UX"
As written here: https://docs.google.com/document/d/1954xj_1ly4KCj9SN2rMobnp17yHtx1tUz8K5fo7uTc4/edit#

[2021-01-03 14:52] vagarwalla commented on #917
This feature has been implemented.

[2021-01-03 14:56] vagarwalla commented on #1081
Will be solved by #459

[2021-01-04 10:25] victor-yunenko opened #1092 "Allow users to exclude their profiles from public search engines (eg google)"
A simple checkbox that adds a `noindex` tag + exclusion from [the sitemap](https://eahub.org/sitemap.xml) will be sufficient.

[2021-01-04 10:31] victor-yunenko commented on #1092
[The proposition from feedback.eahub.org](https://feedback.eahub.org/posts/25/semi-private-profile) goes into few more details:

[2021-01-04 10:33] victor-yunenko commented on #1086
It's fairly important, but I wouldn't say that it's related to the public launch milestone. I'm assuming it's ok to move it out?

[2021-01-04 17:53] victor-yunenko commented on #917
Reopening as turned out the existing implementation does something odd instead (hides the profile from everyone), which is probably an accident.

[2021-01-08 04:51] vagarwalla commented on #920
![image](https://user-images.githubusercontent.com/32846756/103975883-39c15e80-51b0-11eb-9cfc-150e064b0403.png)
This is the image preview for eahub.org
Just leaving it here for reference.

[2021-01-10 10:39] #982 closed

[2021-01-10 10:43] victor-yunenko opened #1093 "Add ENV config to sentry error logging to differentiate errors from dev & prod evs"

[2021-01-10 11:24] #1034 closed

[2021-01-10 11:24] #1079 closed

[2021-01-10 12:15] vagarwalla commented on #995
EA Hub is mispelt on the org list.

[2021-01-10 13:16] victor-yunenko opened #1103 "Drop the email confirmation page - config the email by just clicking on the link (it's a standard allauth feature)"
When you sign up you receive the confirmation email, the link in it requires a button click, which I don't think we need. The button is also not styled.

https://eahub-stage.us.aldryn.io/accounts/confirm-email/MjIzODY:1kyaTP:egdZY0nAK-1Na1i8zD-fo7OlhQA/

![image](https://user-images.githubusercontent.com/36416236/104123985-0fa1a500-5346-11eb-9e83-ce114ae0ab5e.png)

┆Issue is synchronized with this

[2021-01-10 13:33] victor-yunenko commented on #459
It has been deployed and tested.

We have a new google admin now. I can add more google accounts on request.

[2021-01-10 13:33] #459 closed

[2021-01-10 13:41] victor-yunenko opened #1104 "Send an email to the rejected by captcha v3 users that they can try to login now"
The email can be retrieved from sentry.

We have approximately 200-300 emails, and perhaps 5-10 real users.

[2021-01-10 13:44] victor-yunenko opened #1105 "Reset the server cache on Group model updates"

[2021-01-10 14:12] victor-yunenko commented on #1089
Perhaps we just need to set `postgres` address to something as `127.0.0.1`

[2021-01-10 20:56] victor-yunenko commented on #774
It's been implemented a long time ago as I understand.

[2021-01-10 20:56] #774 closed

[2021-01-10 20:57] victor-yunenko commented on #627
Deployed & tested

[2021-01-10 20:57] #627 closed

[2021-01-10 20:59] victor-yunenko commented on #164
I bit unclear what it means. We sure need more tests, but I would create smaller mode detailed tickets about each module, based on [our checklist](https://docs.google.com/document/d/1J7OCYQJJkfK3PYt14Lw-wt9HOUvmVe7Sps9QIAFWaro/edit) once it grows.

[2021-01-10 20:59] #164 closed

[2021-01-10 21:04] victor-yunenko commented on #733
Not sure what this is about exactly - exporting screenshots by the end of a test run?

If yes it would be sure great, but the project is small and we have a lot of other priorities. For the next year I personally would be satisfied with simple HTML validation. After that time we can reopen tickets like that of course.

[2021-01-10 21:04] #733 closed

[2021-01-10 21:05] victor-yunenko commented on #1087
Hi @sebgrebe, maybe if you're doing it every once in a while for eahub you could also do eg a monthly export of the feeder backups?

[2021-01-10 21:06] victor-yunenko commented on #1083
done

[2021-01-10 21:06] #1083 closed

[2021-01-10 21:06] victor-yunenko commented on #1065
done

[2021-01-10 21:06] #1065 closed

[2021-01-10 21:06] victor-yunenko commented on #1047
The email has been sent.

[2021-01-10 21:06] #1047 closed

[2021-01-10 21:09] victor-yunenko commented on #1081
Now it can (and should) be done, but still needs testing.

[2021-01-10 21:11] victor-yunenko commented on #995
@vagarwalla, can this be closed now?

[2021-01-10 21:13] victor-yunenko commented on #807
Closing due to inactivity. Please feel free to reopen if needed.

In general yes, I don't think Numinatim is an option. Tonight they quietly changed their API and broke the profile updates on the whole website for us, that doesn't look reliable. But we have a PR about it already.

[2021-01-10 21:13] #807 closed

[2021-01-10 21:17] victor-yunenko commented on #625
Yes, I bet it's about the json blob on the homepage. Hence it would be resolved as part of #976

[2021-01-10 21:17] #625 closed

[2021-01-10 21:19] victor-yunenko commented on #595
I would say it's been handled by the profile logs. Please feel free to reopen if needed.

[2021-01-10 21:19] #595 closed

[2021-01-10 21:20] victor-yunenko commented on #561
It's a standard feature on the current hosting system.

[2021-01-10 21:20] #561 closed

[2021-01-10 21:25] victor-yunenko commented on #337
I'll move it out to the feedback tool for now - https://feedback.eahub.org/posts/26/add-the-ability-to-verify-organizations-websites-twitter-membership-ownership

[2021-01-10 21:25] #337 closed

[2021-01-10 21:26] victor-yunenko commented on #344
I'll move it out to the feedback collector for now - https://feedback.eahub.org/posts/27/let-people-have-an-account-without-having-a-profile

[2021-01-10 21:26] #344 closed

[2021-01-10 21:28] victor-yunenko opened #1106 "Add selenium E2E tests"
* [x]  add the old redirects to the database

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1199658157929710/1199888573458552) by [Unito](https://www.unito.io/learn-more)

[2021-01-11 15:32] victor-yunenko opened #1108 "Add sentry feedback form"
https://docs.sentry.io/static/571cee86a7dba33e444eb629282ceae8/00d43/user_feedback_widget.png

[2021-01-11 18:42] victor-yunenko opened #1109 "Don't cache the main menu for authenticated users"

[2021-01-11 18:55] sebgrebe commented on #1087
@victor-yunenko, sure, updated the google event

[2021-01-11 18:55] #1087 closed

[2021-01-11 19:43] sebgrebe commented on #986
@vagarwalla and @victor-yunenko is this true? Victor wrote [here](https://github.com/rtcharity/eahub.org/pull/1095#issuecomment-758165314) that we want to keep email information on user profiles. So in this case we want "allow people messaging me" as an *additional* user setting to "make my email visible".

If we want to keep email info, we need to find a place for the email on the profile. Curren

[2021-01-17 10:26] sebgrebe commented on #1109
This is needed because @victor-yunenko saw on login the unauthenticated navbar

[2021-01-17 10:26] victor-yunenko commented on #1109
There's a solution on django for eg not caching pages for authenticated users.

[2021-01-17 10:31] sebgrebe commented on #1105
Assuming that on group update, changes are not immediately visible because of cache. Let's try to reproduce this first

[2021-01-17 10:50] victor-yunenko opened #1115 "Add django admin logs that we can view & audit"
- https://github.com/radwon/django-admin-logs
- https://github.com/fireantology/django-logtailer
- https://github.com/jazzband/django-auditlog
- https://github.com/yprez/django-logentry-admin

[2021-01-17 10:51] victor-yunenko commented on #1105
it's been done by Sebastian

[2021-01-17 10:51] #1105 closed

[2021-01-17 11:09] victor-yunenko opened #1116 "Verify the email domain (eahub.org) ownership - otherwise 95% of our emails are landing in spam"
cc @vagarwalla

[2021-01-17 11:41] victor-yunenko opened #1117 "Profiles admin panel improvements for the approval process"
- sort the users by the date joined - https://eahub.org/admin/base/user/
- add a summary column
- add a column "maybe a bot" and check the summary with a regex

[2021-01-17 11:48] victor-yunenko opened #1118 "User registration - add a screening question that would filter out spam users"
### Current state
It can be difficult for admins to distinguish bots and spam users from genuine users

### Desired state
* Add Approval question to sign up page: “What does Effective Altruism mean to you?”
* Info text: (grayed out) This question is to ensure that all users of the EA Hub are here because of their interest in Effective Altruism. Your answer won't be made public.
* Show anser in use

[2021-01-17 11:52] sebgrebe commented on #1118
And show in user admin panel as column to make approval process easier for admins

[2021-01-17 12:06] victor-yunenko opened #1119 "After a user approval send them an email"
That's a nice way of reminding them about eahub, especially if the approval took a week, which is considered quite a bit of time.

[2021-01-17 12:07] victor-yunenko commented on #1082
@sebgrebe, FYI we can consider sending a notification only for the users whos description doesn't start with a URL, which we can check with a regex.

[2021-01-17 12:23] vagarwalla opened #1120 "Allow users to be only internally visible"
dropdown

* public
* internal - for eahub users
* private

the last option could be visible only to the current private users

tasks

* create another algolia index
* register Profile model in both indexes, test the indexing on internal & public updates
* rename algolia indexes to something as `profiles_public_prod` and `profiles_internal_prod`
* the algolia indexes could use different `should_ind

[2021-01-17 12:23] vagarwalla commented on #1120
mildly related #1092

[2021-01-17 12:41] victor-yunenko opened #1121 "Send an email to the users who we weren't approved in 2020 for 2+ weeks"

[2021-01-17 13:56] #995 closed

[2021-01-18 11:52] victor-yunenko opened #1122 "Add an admin managed property to Profile as "Attended events" - will help participant finding each other after the event"
- allow to manage it through admin panel, ie it should be a Foreign Key
- add admin panel filtering
- add it as an aloglia filter in vuejs

[2021-01-19 11:47] mattg95 commented on #986
Hi, have we reached a decision on @sebgrebe 's point above?

[2021-01-19 20:51] sebgrebe commented on #986
@mattg95, let's add "allow users messaging me", rather than it replacing "make my email visible". We can always remove the latter later

[2021-01-22 18:14] victor-yunenko commented on #1091
call summary:
- we can use bs5 modals
- we can submit the form with plain js without jquery
- we can submit this form to the API endpoint

[2021-01-22 20:43] victor-yunenko commented on #1091
from Sebastian:
- we don't need modals or API

[2021-01-23 07:27] vagarwalla commented on #1066
Catherine has already emailed the groups a lot so we don't need to do this anymore.

[2021-01-23 07:27] #1066 closed

[2021-01-23 07:28] vagarwalla commented on #1092
We are not doing this for now and just doing #1120

[2021-01-23 07:34] vagarwalla opened #1124 "ert"

[2021-01-23 07:35] vagarwalla commented on #1124
I've outlined all the things we need to track under "Priority 1" [here](https://docs.google.com/spreadsheets/d/1erHKaoRalZhWyA9wKIst-cuDMqAfSFHGjkOjayEUT1I/edit#gid=0)

[2021-01-23 07:40] vagarwalla opened #1125 "Redesign Hub Footer. Linked to #902"
Currently the footer says
"The codebase of this project is licensed under the MIT License. Post feedback. Privacy Policy. View source. About. Contact us."

Would it be okay to change this to
"The codebase of this project is licensed under the MIT License. Post feedback. Privacy Policy. View source. About. Contact us by emailing contact@eahub.org."

[2021-01-23 07:41] vagarwalla commented on #902
We will address this #1125

[2021-01-23 07:41] #902 closed

[2021-01-24 10:22] victor-yunenko opened #1127 "Several users don't have a picture in S3, which are probably can be found on azure"

[2021-01-24 10:34] victor-yunenko commented on #1125
can we keep it to 1-2 words somehow? ie leaving just the link as `contact@eahub.org`

[2021-01-24 11:22] victor-yunenko commented on #1121
the next step - export the list of those emails

[2021-01-24 11:25] victor-yunenko commented on #1089
I'm working on it within #1106

[2021-01-24 11:25] #1089 closed

[2021-01-24 11:29] #939 closed

[2021-01-24 11:34] victor-yunenko opened #1129 "Add new fields to profiles - "job title" [str], "Career Stage" [dropdown], "Involvement in EA" [multiselect]"

[2021-01-24 11:42] sebgrebe opened #1130 "Test run: Migrating data from EA Event"
- For EA Reconnect event, users will be able to opt to update their EAHub profile/create a new profile event from their application form
- Event: https://www.eaglobal.org/events/reconnect/ takes place on 20/21 March
- Do a test run with dummy data to migrate it to our profile

[2021-01-25 01:48] vagarwalla commented on #976
@sebgrebe For the header/footer options:

Links we need in the main menu

- Donate
- About
- Blog
- "Opportunities Board" eawork.club (external link)
- Resources (External link)

[2021-01-25 09:11] victor-yunenko commented on #1041
why?

[2021-01-25 20:50] #971 closed

[2021-01-26 20:14] victor-yunenko commented on #983
we added it

[2021-01-26 20:14] #983 closed

[2021-01-27 15:43] victor-yunenko opened #1135 "During signup mention how long will they wait for an approval - we need to manage the expectations"

[2021-01-27 15:51] victor-yunenko commented on #557
It doesn't appear to be a blocker for the forum post

[2021-01-27 15:52] victor-yunenko commented on #1092
It doesn't appear to be a blocker for the forum post

[2021-01-27 15:53] victor-yunenko commented on #976
First draft - https://eahub-dev-815fc48.us.aldryn.io/

[2021-01-29 22:18] victor-yunenko commented on #600
it's been handled as part of the updated selenium-hub setup

[2021-01-29 22:18] #600 closed

[2021-01-30 13:08] sebgrebe opened #1137 "Add margins to alerts on mobile"
![image](https://user-images.githubusercontent.com/15908208/106357150-38d9a380-62fc-11eb-8c75-b7b82ef403bc.png)

[2021-01-30 13:27] sebgrebe opened #1138 "Admin login bug"

[2021-01-30 13:41] sebgrebe opened #1139 "Messaging email: Add report issue form"

[2021-01-30 14:42] sebgrebe commented on #986
Acceptance criteria for final UAT
- [ ] I can send a message to another user who has messaging enabled
- [ ] The email shows my name, email address, message, link to setting email preferences, link to reporting abuse and link to feedback
- [ ] I can send a message to a local group where either the local group has an email or organisers who have messaging enabled. The message is sent to all of thes

[2021-01-31 13:45] vagarwalla commented on #976
Improvements to Hub homepage:

Add EA work club to menu
![image](https://user-images.githubusercontent.com/32846756/106385917-8d207880-640d-11eb-9926-fe4dc1e35fb2.png)

[2021-01-31 13:57] victor-yunenko commented on #976
I see the donation button mention above, but I don't see a link that I can use

[2021-01-31 13:59] #1019 closed

[2021-01-31 14:07] vagarwalla commented on #1116
Victor will evaluate sparkpost and comment here about it

[2021-01-31 14:08] victor-yunenko commented on #976
@vagarwalla, do you have the link?

[2021-01-31 23:47] vagarwalla commented on #986
- [ ] The email icon is still appearing on the main profiles search page & it is a mailto: link, so it look like maybe this was missed? This needs to be fixed - I suggest just having it be purple if the person activated messaging and grey if not - or remove it entirely if that's too complicated right now. I can add it to our post go-live improvements list.

![image](https://user-images.githubuserc

[2021-01-31 23:48] vagarwalla commented on #986
Also this is an unrelated issue, but could we replace the community icon in eahub.org/profiles/xx with a high res image?

![image](https://user-images.githubusercontent.com/32846756/106401903-caaef100-6461-11eb-8892-d541c13a7c9f.png)

[2021-02-01 13:05] victor-yunenko commented on #976
@vagarwalla, any update on this?

[2021-02-01 14:35] vagarwalla commented on #1124
Experimental comment

[2021-02-01 21:18] sebgrebe commented on #986
@vagarwalla, yes, missed the email on search. Good catch! Replaced it with message link

[2021-02-01 21:37] sebgrebe commented on #986
See it compared to the career icon below to see the blurriness.

Good call, done

[2021-02-02 11:55] sync-by-unito[bot] opened #1140 "Send notification email to Local group beta testers"
[https://docs.google.com/document/d/1dQLgBmvWQmWQm8jXsgCEo_5RgygKAaBfA4TzEjUzN0M/edit#](https://docs.google.com/document/d/1dQLgBmvWQmWQm8jXsgCEo_5RgygKAaBfA4TzEjUzN0M/edit#)

┆Issue is synchronized with this [Asana Milestone](https://app.asana.com/0/1199658157929710/1199658158035634) by [Unito](https://www.unito.io/learn-more)

[2021-02-02 11:55] sync-by-unito[bot] opened #1141 "CEA Events"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1199658157929710/1199658158035552) by [Unito](https://www.unito.io/learn-more)

[2021-02-02 11:55] sync-by-unito[bot] opened #1142 "Forum SSO Updates"
* Scope of work
* Phases of implementation

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1199658157929710/1199697175099294) by [Unito](https://www.unito.io/learn-more)

[2021-02-02 11:55] sync-by-unito[bot] opened #1143 "EA Chats Misc. Tasks"
Design doc: [https://docs.google.com/document/d/1vE-kaRo5SD34LkuHkiqjEgeG6eiqb1jpYC7I2qHeYA4/edit#heading=h.nkinynwroe05](https://docs.google.com/document/d/1vE-kaRo5SD34LkuHkiqjEgeG6eiqb1jpYC7I2qHeYA4/edit#heading=h.nkinynwroe05)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1199658157929710/1199872559601649) by [Unito](https://www.unito.io/learn-more)

[2021-02-02 12:28] #1141 closed

[2021-02-02 12:28] #1140 closed

[2021-02-02 12:28] #1142 closed

[2021-02-02 12:28] #1143 closed

[2021-02-02 15:37] victor-yunenko commented on #976
I guess I'll deploy it tomorrow morning and then we can find the donations link through a separate ticket.

[2021-02-02 20:14] victor-yunenko commented on #976
Here's the updated version - https://eahub-dev-815fc48.us.aldryn.io/

[2021-02-03 01:35] vagarwalla commented on #976
Final small fixes:

- [ ] Change community back to Profiles (I'm SO SORRY)

- [ ] Reduce the white space between the header & the first image

![image](https://user-images.githubusercontent.com/32846756/106685080-a2aac380-6602-11eb-984b-f168b2b3d8b0.png)

- [ ] Change the EA Hub Title to Effective Altruism Hub
![image](https://user-images.githubusercontent.com/32846756/106685212-e8678c00-6602-11eb

[2021-02-05 19:43] #1106 closed

[2021-02-05 19:43] victor-yunenko commented on #1106
done & merged

[2021-02-05 19:44] victor-yunenko opened #1147 "Enable E2E on Firefox"

[2021-02-05 19:46] victor-yunenko commented on #1139
Can we just link the sender's profile report abuse form?

[2021-02-05 19:48] victor-yunenko opened #1148 "New homepage content improvements"
- replace "Name" label with "Full name"
-  Reduce the white space between the header & the first image (the image below is not edited - if you could remove it)?
-  Change the EA Hub Title to Effective Altruism Hub

[2021-02-05 19:54] victor-yunenko commented on #976
I moved the remaining points to #1148

[2021-02-05 19:54] #976 closed

[2021-02-07 10:42] viktor-yunenko opened #1149 "The email that was sent on April 2019 with a link to reactive your old eahub profile on the new hub might have been non usable"
I heard 1-2 reports that people weren't able to click on that link in the email and just run into an error of some kind. They assumed that their hub profile was deleted.

I opened the management command `passwordresetcsv` and saw that the django user token was used to generate a one time password reset link, but the user token invalidates itself within 72 hours. If my assumption is correct, then a

[2021-02-07 11:07] victor-yunenko opened #1150 "Move the Feb 6th incident report to the respective google folder"
report - https://docs.google.com/document/d/1l6O21FB3JJ9nV3lNmJwy3pbTEJZTZ6wa6v8eawnkxcc/edit#heading=h.81cybflq9kyr

folder - https://drive.google.com/drive/u/1/folders/1aVFAXJXtiwEn3JQNH5UINqpWljmnV8b0

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1199658157929710/1199905534465109) by [Unito](https://www.unito.io/learn-more)

[2021-02-07 14:22] #1149 closed, assigned to nobody

[2021-02-10 00:06] cafelow opened #1152 "Add an approval step for people creating new groups"
Hey guys, it would be nice for me to "approve" new groups before they go public, because

1. I've hid inactive groups and groups with no contact info, so people make duplicate groups with "2" at the end of the URL (which is messy).
1. Sometimes people should get some guidance/connections before starting a group. In these cases I might want to hide their newly active group, and it feels a bit nicer

[2021-02-14 10:16] victor-yunenko opened #1155 "Request Algolia open source subscription tier again"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1199658157929710/1199935813393716) by [Unito](https://www.unito.io/learn-more)

[2021-02-14 11:00] victor-yunenko commented on #1155
Just sent:

[2021-02-15 10:53] viktor-yunenko opened #1157 "migadu email server sends errors back to the users who try to contact us through admin@eahub.org"
To a non-technical user that might look like an indication that our email isn't reachable. Or that it isn't functioning properly - which is true.

[code]

[2021-02-15 10:54] viktor-yunenko commented on #1157
@vagarwalla, do you have access to those redirects? can you help with a fix?

[2021-02-15 11:03] viktor-yunenko commented on #1157
Hi @michaltrzesimiech, if you could help us with admin access to migadu that would fix those errors it would be great! FYI  the addresses that you're using personally can be affected as well.

[2021-02-15 11:04] viktor-yunenko commented on #1157
@michaltrzesimiech, also Vaidehi doesn't have access anymore, same for Sebastian.

[2021-02-15 13:36] viktor-yunenko commented on #1155
a sponosred approved

[2021-02-15 13:36] #1155 closed

[2021-02-15 13:37] viktor-yunenko commented on #1157
Vaidehi received the access to the panel today and fixed the problem 👍

[2021-02-15 13:37] #1157 closed, assigned to nobody

[2021-02-15 22:19] viktor-yunenko opened #1159 "Make sure that django messages are included on every website page"
They should be rendered with bootstrap from `base.html`, eg as

[code]

Ideally there should be gradation for success and error messages.

[2021-02-15 22:26] viktor-yunenko commented on #1159
During #558 the messages were hidden, we have to restore them and configure them appropriately.

[2021-02-15 22:28] viktor-yunenko opened #1160 "Enable logging (through profile logs) for email verification"

[2021-02-17 18:55] viktor-yunenko commented on #1130
@sebgrebe , if it's ready for testing, can you attach the data to the ticket?

[2021-02-19 21:29] walambert opened #1169 "Docker-Compose 3.0 "Extends" functionality removed: "docker-compose run" won't work until rewritten without using extends"
Current version of docker-compose.yml in use makes load-bearing use of extends. Support for extends was removed as of docker-compose version 3, our compose file is version 3.4.

I believe this is why docker-compose run... is failing.

See "Removed" from Version 3: https://github.com/docker/docker.github.io/blob/master/compose/compose-file/compose-versioning.md#version-3

Unfortunately, the referen

[2021-02-20 20:05] viktor-yunenko opened #1170 "Integrate effective-altruism.org SSO"

[2021-02-20 22:59] viktor-yunenko commented on #1170
Our existing auth backend already supports auth0, we just need to configure its frontend:

https://django-allauth.readthedocs.io/en/latest/providers.html#auth0

[2021-02-21 10:49] viktor-yunenko opened #1172 "Add a tracker for first visits"

[2021-02-21 10:56] sebgrebe commented on #1118
Email verification solved this problem mostly, so no need anymore

[2021-02-21 10:56] #1118 closed

[2021-02-21 12:07] viktor-yunenko commented on #1130
The data is added

[2021-02-21 12:21] viktor-yunenko opened #1173 "Event data integration: clarify the data sharing process"

[2021-02-21 12:35] viktor-yunenko opened #1174 "Messaging: log the sender and receivers email to ProfileLogs"

[2021-02-21 14:27] sebgrebe commented on #979
We're still figuring out a few details in the text, but the ticket is ready to get started on

[2021-02-21 16:55] sebgrebe commented on #1172
### Current state
* We used to track whether someone is on their profile page by sending people after sign up to profile/first_visit.
* The point of this was partly analytics, but also to prompt users to fill the profile with as  much info as possible. (This was a requst from @cafelow)
This no longer w* orks, because we switched on email verification and users will first have to go to their inbox

[2021-02-21 16:56] sebgrebe commented on #1172
@victor-yunenko maybe this could be a nice ```Good First Issue```?

[2021-02-22 11:59] viktor-yunenko commented on #1172
Not sure, there's ambiguity regarding the DB structure and the state management

[2021-02-22 19:06] viktor-yunenko opened #1175 "GDPR compliance: remove the cookie bar and add a privacy policy agreement"
At the moment our cookie bar isn't GDPR-compliant and it isn't needed, because we don't collect private data of non-logged-in users. And the cookie bar isn't helping our UX efforts :)

Yet we do collect the private data of registered users without an explicitly given consent to our privacy policy.

FYI a GDPR-compliant cookie bar specification that we don't have - and don't need:

* analytics must

[2021-02-22 19:06] viktor-yunenko commented on #1175
@sebgrebe, ok for you?

[2021-02-26 07:28] sebgrebe commented on #1172
OK, let's try and define it together on Sunday

[2021-02-26 10:11] viktor-yunenko commented on #1172
@sebgrebe, in the meantime could you remind me the exact purpose of it?

For the data analysis - the first visit is the email confirmation timestamp. I'm not sure how this information helps in GA?

Big social networks as eg linkedin or facebook would softly nudge when that information isn't filled, regardless of visit count.

[2021-02-26 10:15] viktor-yunenko commented on #1172
From UX point of view it sounds that if the user needs additional nudging, then the interface has an issue that I would rather address instead.

[2021-02-26 10:17] viktor-yunenko commented on #1172
For example I propose to redirect the user to `/profile/edit/` instead of `/profile/` after the email confirmation. The user needs to fill in that information, hence I don't want to ask them to do any manual clicks on "edit" buttons.

[2021-02-27 10:08] viktor-yunenko opened #1182 "Offering and Looking for fields aren't highlighted in the search results"
add `ais-snippet` tag

[2021-02-28 08:37] #1174 closed, assigned to sebgrebe

[2021-02-28 10:12] viktor-yunenko opened #1183 "Request S3 stage key regeneration from divio support"

[2021-02-28 10:41] sebgrebe opened #1185 "Join profile edit pages into one"
### Current state
We have 4 different profile edit pages
- General
- Community
- Career
- Causes Area

This is suboptimal UX because it means users have to click a lot to change things

### Desired state
All edit pages on 1 page: /profile/edit so that users have only 1 place to go to

### Acceptance criteria
- [ ] All profile edit fields on 1 page: /profile/edit
- [ ] Visually Separated into subse

[2021-02-28 10:41] sebgrebe commented on #1185
@victor-yunenko to provide wireframe

[2021-02-28 10:44] sebgrebe commented on #1172
closed, will be handled with #1185

[2021-02-28 10:44] #1172 closed, assigned to sebgrebe

[2021-02-28 10:48] sebgrebe opened #1186 "Move Privacy Policy page to bootstrap 5"
### Current state
* On some pages we use bootstrap 3, on some bootstrap 5. We want all on 5
* Privacy policy oage is still on bootstrap 3

### Desired state
* Provacy policy page uses bootstrap 5: https://eahub.org/privacy-policy/
* Example of page that has already bootstrap 5: https://eahub-stage.us.aldryn.io/about/

### Acceptance criteria
* [ ] Privacy policy page uses bootstrap 5

[2021-02-28 10:56] sebgrebe commented on #1175
### Acceptance criteria
- [ ] On the signup form, a checkbox with the text "I agree to the EA Hub's Privacy Policy [link]" is present and checked
- [ ] Text is the same height as current privacy policy link (.9 rem) and
- [ ] the checkbox has `required` attributed set
- [ ] Present on sign up forms on homepage and /accounts/signup/

[code]

[2021-03-01 07:44] sebgrebe opened #1189 "manage.py migrate command raises the error `relation "cache" does not exist`, which requires manage.py createcachetable command exec"
### Current state
* When running ```docker-compose up web``` and then going on localhost:8000, getting error

[code]

* Probably the case because no db present
* We used to be able to run without having local db (it would build one from scratch)

### Desired state
* Enable running project without having local db

[2021-03-01 13:45] viktor-yunenko commented on #1189
does `python manage.py createcachetable` help?

[2021-03-01 13:46] viktor-yunenko commented on #1175
FYI, no backend logic is needed, only html

[2021-03-04 14:28] sebgrebe opened #1190 "When selecting organisers when editing group, unapproved profiles are shown"
![image](https://user-images.githubusercontent.com/15908208/109978488-d9552600-7cf5-11eb-970c-1067a9580415.png)

We should filter unapproved users from this list.

[2021-03-05 08:02] sebgrebe commented on #1189
@victor-yunenko, yes, thanks! Can we add this to the dockerfile such that if no local db is present, it runs it? Alternatively, we could put it in the README. Newcomers to the project will stumble on this

[2021-03-05 18:35] viktor-yunenko commented on #1189
We can add a django RunPython migration

[2021-03-05 18:52] viktor-yunenko commented on #1189
But we need to remember to add RunPython.noop as well

[2021-03-05 18:52] jnsya commented on #979
Note: @sebgrebe @victor-yunenko and I agreed that in this ticket we'll just add the list of contributors as static content, rather than dynamically updated via GitHub, because it's quicker and simpler than connecting to the GitHub API.

[2021-03-07 10:30] sebgrebe commented on #165
Replacing with new issues

[2021-03-07 10:30] #165 closed

[2021-03-07 10:39] sebgrebe opened #1193 "Decide on a testing strategy: proportions of unit/integration/e2e tests, testing tech stack"
## Answer these questions:
* What level of unit, integration and e2e tests do we have at the moment?
* What level of unit, integration and e2e tests do we want?
* What technology/third party libraries/models do we want to use for each?

## Do
* Kick off by writing more unit tests for core python code (profiles?, groups?, tags?)
* Create tickets for adding further tests

[2021-03-07 11:44] viktor-yunenko opened #1194 "Ask rethink charity about the eahub bank account with $5k balance"

[2021-03-07 12:19] sebgrebe commented on #1189
Would you be happy to create a PR for this? @victor-yunenko

[2021-03-09 08:29] sebgrebe opened #1198 "Superuser not created when building project"
### Current state
It used to be the case that on running the project from scratch locally, a superuser was created with email "admin@example.com", whose password one could recover by going to "forgot password".
I've just rebuilt Lisa's fork (updated on latest on default) and the superuser was not created by default. Instead, I had to execute into the docker container and run "python manage.py crea

[2021-03-14 10:19] viktor-yunenko commented on #920
This ticket doesn't have sufficient specification to be a good first issue yet.

[2021-03-14 10:33] sebgrebe commented on #1175
Legal situation seems unclear: https://law.stackexchange.com/a/35587.

[2021-03-14 10:42] viktor-yunenko opened #1209 "Check whether profile picture update reindexes the profile picture in aloglia"

[2021-03-14 10:48] sebgrebe commented on #1139
### Current state
When users receive a message from another user and want to complain, "Report abuse" is just an email to admin@eahub.org

### Desired state
* Instead of providing admin's email address, a link to the user's "report abuse" page should be given.
* Rename "Report abuse" to "Report an issue"
* Add a free text field to options for "other"

### Acceptance criteria
* [ ] "Report abuse" r

[2021-03-14 10:56] sebgrebe commented on #1160
### Current state
We don't log when users verify their email address

### Desired state
When user receives email to verify their email address and click on the link, we want to create a ```ProfileAnalyticsLog``` with date and action "email_verified"

### Context
Use model ```EmailVerification``` in django.auth to do this

### Acceptance criteria
- [ ] When I create a new account and verify my emai

[2021-03-14 10:57] viktor-yunenko opened #1210 "Confirm that the report abuse form works"
Sebastian submitted a report for my profile but I didn't receive it.

[2021-03-14 10:57] viktor-yunenko commented on #1210
@vagarwalla, did you receive it?

[2021-03-14 11:08] sebgrebe commented on #1159
### Current state
Messages are implemented individually on each page (e.g., profile). This is bad practice because it creates (i) code duplication and (ii) inconsistent UI.

### Desired state
* Add messages to base template
* Remove messages from all other templates

### Acceptance criteria
* [ ] Messages only added via base template
* [ ] All existing messages are still displayed
* [ ] All messag

[2021-03-14 11:09] sebgrebe commented on #1159
Example of a message
![image](https://user-images.githubusercontent.com/15908208/111066227-c2f95800-84b5-11eb-8d6c-7b49c24372bb.png)

[2021-03-14 12:21] viktor-yunenko opened #1212 "Profiles search: fix filter labels that don't fit and focus styles"

[2021-03-15 08:40] sebgrebe opened #1213 "Review Privacy Policy"
### Current state
There are at least 2 things in the [privacy policy](https://github.com/rtcharity/eahub.org/blob/default/eahub/templates/eahub/privacy_policy.html) that are not correct

* "We collect your IP address": My understanding is that we don't, at least not for registered user
* "Additionally when you register or browse the Site, we collect certain information from you, including your nam

[2021-03-16 12:55] viktor-yunenko opened #1214 "When a new feature is released show a notification box that lists eg the blog posts"
TBD

[2021-03-21 14:52] #979 closed

[2021-03-25 08:03] sebgrebe commented on #1193
# Test coverage at the moment

(Worth conisdering adding automatic test coverage to the project, added [ticket](https://github.com/rtcharity/eahub.org/issues/1219))

## E2E
- signup + login

## Unit tests
* Localgroups
  * admin
    * hydrate methods (related to import from csv)
  * model (LocalGroup)
    * organiser_names()
	* get_exportable_field_names()
* Profile
  * models
    * get_is_organis

[2021-03-25 08:06] sebgrebe opened #1219 "Add a test coverage analytics through CI"
* Add tool for test coverage, e.g., [coverage.py](https://coverage.readthedocs.io/en/coverage-5.5/)
* Add reporting of coverage to pipeline runs

[2021-03-26 11:22] viktor-yunenko opened #1220 "Integrate an analytics tool for cross-domain tracking with CEA"

[2021-03-26 11:50] viktor-yunenko opened #1221 "Update README.md with a standard project intro"
* project intro - few sentences that explain what this is and why it was done
* discord invite url
* strategy google doc
* contribution.md link
* about us page link?
* move out project setup instructions to the wiki

[2021-03-26 11:53] viktor-yunenko commented on #986
@sebgrebe, I believe it was handled? Please feel free to reopen if needed

[2021-03-26 11:53] #986 closed

[2021-03-26 11:55] viktor-yunenko commented on #1103
it was done

[2021-03-26 11:55] #1103 closed

[2021-03-28 11:37] #1173 closed, assigned to viktor-yunenko

[2021-03-28 15:04] viktor-yunenko opened #1222 "Send message events to Google Analytics (with hashed emails)"
* when user successfully sends a message we need to push an event to GA
* it should contain the hash of the sender email and the receiver email, and time timestamp

Flow:

* user sends message
* user sees success message
* send hashed email address to success message view (don't display the hashed email address on page)
* send hashed email to GA from frontend

[2021-03-29 14:35] viktor-yunenko opened #1223 "Update CONTRIBUTING.md with the standard practices intro"
* how to submit a PR (to which branch, how to find a ticket, whether you need a ticket)
* how we evaluate a PR
  * the frequency of our PR review sessions (eg Sunday 10am GMT)
  * tech requirements (multi browser testing, unit tests, deployment?, etc)
  * the amount of time we can dedicate to each PR review
* etc

[2021-03-30 14:05] vagarwalla commented on #1210
No I don't think so! Would it have been sent to admins?

[2021-03-30 14:09] viktor-yunenko commented on #1210
For some reason it's directed to lean@eahub.org, I don't know who has access to this email.

[2021-04-01 10:07] viktor-yunenko opened #1224 "Let anonymous users see the "Send message" button, ask them to login/signup when they press it"
the idea is to motivate the user to sign up by saying that as soon as they do they can finish the messaging action that they started

the login/signup request page should have bs5 styles `messages.add_message(request, messages.INFO, 'Hello world.')`, be well-formatted and user-friendly

the text must mention that only logged in and _approved_ users can message others

would be nice to also change

[2021-04-03 09:17] #1169 closed, assigned to nobody

[2021-04-03 09:17] #1182 closed, assigned to viktor-yunenko

[2021-04-03 09:17] #1185 closed, assigned to viktor-yunenko

[2021-04-03 09:17] #1190 closed, assigned to nobody

[2021-04-03 09:19] viktor-yunenko commented on #1169
Thank you for the ticket! I updated the versions for now, in the feature I'm planning to move away from selenium, and could address the source of the problem during that task.

[2021-04-03 09:33] viktor-yunenko opened #1226 "Review the first & last names of users who had more than 2 words in the name"
provide an admin URL with the names that had more than 3 names

[2021-04-03 09:34] viktor-yunenko opened #1227 "Finish reviewing the profile tags descriptions and label updates"
the doc with all fields and questions - https://docs.google.com/document/d/1KnoedOwlJGqdzHSkCtqhJpBJX-WKUcUPUWUhU1leUaE/edit

[2021-04-03 09:34] viktor-yunenko opened #1228 "Profile detail: improve safari "Edit" button positioning"

[2021-04-03 09:35] viktor-yunenko opened #1229 "Login & signup form: add a higher minimal height to remove the white space at the bottom"

[2021-04-03 10:50] viktor-yunenko opened #1230 "Profile detail: move the tags under the Bio"

[2021-04-03 17:51] viktor-yunenko opened #1231 "Add a flag in Google Analytics that shows who's logged in or not"

[2021-04-03 17:57] viktor-yunenko opened #1232 "Create a @eahub.org for Martyna"

[2021-04-03 17:58] #1232 closed, assigned to viktor-yunenko

[2021-04-05 10:18] viktor-yunenko opened #1235 "Define a web-optimized color palette"
Most of the options on the web I would describe as design-oriented and UX-unfriendly.

For example the following sites are called "the best", while I can see no contrast and primary color on all elements that aren't critical for the business:

<details>

![image](https://user-images.githubusercontent.com/36416236/113563638-f5ebc300-95ff-11eb-8f00-24eb274f92c9.png)

![image](https://user-images.git

[2021-04-05 10:43] viktor-yunenko opened #1236 "Jobs board"
[Figma wireframe](https://www.figma.com/file/XUPrUuPPWVFhupBYXRO2Pu/eahub?node-id=46%3A11)

Good examples:

* https://angel.co/jobs
* https://stackoverflow.com/jobs

general:

* open filters in a modal window as on angelist
* hiding jobs that you saw already with a single click
* show required skills as tags nearby the location & city as on stackoverflow
* infinite loading
* show which jobs you've

[2021-04-06 13:49] #1018 closed

[2021-04-06 13:51] viktor-yunenko commented on #1229
done

[2021-04-06 13:51] #1229 closed, assigned to viktor-yunenko

[2021-04-06 13:53] viktor-yunenko commented on #1212
done

[2021-04-06 13:53] #1212 closed, assigned to viktor-yunenko

[2021-04-06 13:53] viktor-yunenko commented on #1210
@vagarwalla, do you have access to it?

[2021-04-06 14:30] viktor-yunenko opened #1237 "Search filters: add cause areas expertise & rename the fields to match profile edit labels"

[2021-04-06 14:36] viktor-yunenko opened #1238 "Add city & country labels to profiles search and profile-detail pages"
![image](https://user-images.githubusercontent.com/36416236/114302134-a6097200-9abf-11eb-82cc-bcf8da92a6e6.png)

[2021-04-10 11:11] viktor-yunenko commented on #1175
I just noticed that SO is the first site that I saw with an adequate GDPR banner:

![image](https://user-images.githubusercontent.com/36416236/114267805-ca991780-99f5-11eb-9973-e5d70dcb5b19.png)

Let's mimic that if we're going to keep the bar.

[2021-04-10 11:51] viktor-yunenko opened #1240 "Consider moving resources.eahub.org to eahub.org with chapters.1fortheworld.org"
Martyna would like to join the resources navbar and our navbar, to avoid losing users when they go to resources.eahub.org, because there's no way back.

At the same time I was thinking about adding a CMS component to the hub, which would allow us to edit pages as about-us from the admin interface, without the need of deployments and PR reviews. That could be a good time to quickly do an MVP of tha

[2021-04-11 08:11] sebgrebe commented on #1240
AFAIA the idea was to move Resources into the EA Forum? @vagarwalla

[2021-04-11 08:17] sebgrebe opened #1241 "Display user's location on profile page"
Currently missing. We have the local group membership, but (1) someone might not have added this or (2) live somewhere else than to which group they might feel the most attached or (3) the group might not be a city-based group.

![image](https://user-images.githubusercontent.com/15908208/114297104-ac3f2480-9aa6-11eb-9a9b-6122d206c135.png)

[2021-04-11 11:17] viktor-yunenko commented on #1241
True, I created an extended ticket a few days ago, that also includes the search #1238.

I'll close this one for now then if you don't mind. Please feel free to reopen if needed.

[2021-04-11 11:17] #1241 closed, assigned to nobody

[2021-04-11 13:14] viktor-yunenko opened #1242 "Import EAG Reconnect 2021 data and EA Fellowship"
EAG checklist:

* [x] merge two different datasets into one
* [x] check whether the users who we need to import updated their profiles data after the EAG
* [x] parse the linkedin_url field
* [x] create twitter and calendly fields
* [ ] import the images - with `requests`
* [ ] handle images with lower resolutions - disable `upscale`? add a db flag?
* [ ] import 10%
* [ ] setup the new email provid

[2021-04-12 13:25] viktor-yunenko commented on #1242
Hi @sebgrebe, I received the latest update from Barry and it needs a bit of handling. I broke it down into the steps here.

In case you won't be around for a review during the weekdays I'm thinking about force merging those patches in, would that be ok for you?

[2021-04-12 14:31] sebgrebe commented on #1242
@victor-yunenko, absolutely, no problem. I'm gone from Wednesday, back on Sunday morning

[2021-04-22 03:19] vagarwalla commented on #1240
Possibly, they don't have concrete plans. I don't think we should invest time in this until we've finished our current tasks. And had a word with Catherine.

There are definitely a lot of improvements to be made,  but we need to prioritise !

[2021-04-22 03:20] vagarwalla commented on #1210
No I don't. Can you make it forward to admin@ please.

[2021-04-22 03:21] #1150 closed

[2021-04-23 10:46] viktor-yunenko commented on #1210
No, I think only you can manage the ehaub.org emails.

[2021-04-23 10:49] viktor-yunenko commented on #1240
I agree, I created the ticket only because it can simplify our life somewhere down the road, when we do the navbar redesign.

For the context: Martyna would like to join the resources navbar and our navbar, to avoid losing users when they go to resources.eahub.org, because there's no way back.

At the same time I was thinking about adding a CMS component to the hub, which would allow us to edit pa

[2021-04-26 11:16] viktor-yunenko opened #1245 "Fix the optimization issue by replacing filter(is_publicly_visible=True) with the enum alternative"
The call `Profile.objects.filter(is_publicly_visible=True)` loads each object in RAM before executing the function `is_publicly_visible`, instead to generate a single query it must use direct enum objects, eg `Profile.objects.filter(visibility=Visibility.PUBLIC)`.

[2021-04-26 11:29] viktor-yunenko commented on #1245
handled

[2021-04-26 11:29] #1245 closed, assigned to nobody

[2021-05-01 19:03] viktor-yunenko opened #1247 "Override the default emails content (password reset, password confirmation, etc)"
Right now we're using the default text which sometimes looks odd. We can easily change that, but we need to define the content first.

[2021-05-02 09:57] sebgrebe opened #1248 "Add better documentation"
To make it easier to onboard devs in the future, we want to:

* [x] Add contribute.md with contribution guidelines
* [x] Add Readme.md to look more like [this example](https://github.com/TryGhost/Ghost)
* [x] Create setup.md (or similar) with instructions on how to run the project locally
* [x] Add page with overview of third party tools we're using (algolia etc)
* [x] Add a CODE_OF_CONDUCT.md

[2021-05-03 11:31] sebgrebe opened #1249 "Profile deletion: Add GDPR disclaimer"
### Current state
* Users can delete profiles via button on their profile page
* This deletes all public visible date

### Desired state
* Add disclaimer that if users want data to be removed in accordance with GDPR, they should send an email to tech@eahub.org

[2021-05-03 11:38] viktor-yunenko opened #1250 "Inform the "Private" profile users that they might have been a misunderstanding and offer a one link click change to Internal"
We can do a mailchimp newsletter.

[2021-05-04 04:06] vagarwalla opened #1251 "Small bugs on the eahub.org/profile/[user]"
Small bugs on profile view:

* [ ] - We have a job title option but not an organisation option (the org affiliation pops up in community) - looks a bit odd (see comments)
* [ ] - Cause Area doesn't have sub-headers for interest & expertise! Should read: "Areas of Interest" and "Areas of Expertise"
* [ ] - Career areas sub-headers should be the same
* [ ] - Ordering should be the same for both (exp

[2021-05-05 16:52] viktor-yunenko opened #1253 "Create job cards with a simple react app"
https://www.figma.com/file/XUPrUuPPWVFhupBYXRO2Pu/eahub?node-id=46%3A11

[2021-05-08 13:01] mattg95 commented on #1253
@victor-yunenko is it ok if I work on this branch? https://github.com/rtcharity/eahub.org/tree/1236-jobs/eahub/jobs

[2021-05-08 14:34] viktor-yunenko commented on #1253
sure

[2021-05-09 10:52] sebgrebe opened #1256 "Add checkbox for agreeing to privacy policy and community guidelines"
### Acceptance criteria
* [ ] On sign up, users need to tick a checkbox agreeing to privacy policy and community guidelines
  * Wording: "I agree to the Privacy Policy and the Community Guidelines"
* [ ] Community guidlines page added
* [ ] Take note of timestamp when this was deployed so that we can distinguish between users who have agreed and those who haven't

[2021-05-09 11:40] sebgrebe opened #1257 "Add profile suspension mode"
### Current state
* Users can be either approved or not
* To suspend a user, we currently unapprove them
* By default, newly created users are unapproved
* This can create confusion: is a user unapproved because they were just created or because they were suspended? Admins might approve a suspended user because they think the user is newly created

### Acceptance criteria
* [ ] Add profile field "

[2021-05-10 01:06] sync-by-unito[bot] opened #1259 "Test dependency"
helllo this is a test task.

[2021-05-10 02:53] sync-by-unito[bot] opened #1260 "Subtasks Test"
This is a test subtask to see what happens when we sync to Github

[2021-05-11 22:49] viktor-yunenko commented on #1064
postponing due to the upcoming redesign

[2021-05-11 23:13] viktor-yunenko opened #1261 "Create an mvp of the new groups page"
We can remove the filters for now and just use a simple algolia react search:

A rough example can be seen below:

![image](https://user-images.githubusercontent.com/36416236/117895560-829c3780-b2b6-11eb-97e5-ced08b01e411.png)

We can set up infinite scroll and snippeting for the real time text search.

[2021-05-11 23:13] viktor-yunenko commented on #1261
Forrest agreed to help with this ticket 👌

[2021-05-13 07:41] sebgrebe commented on #1222
I have a few questions about this from a GDPR perspective. Let's discss before picking this ticket up

[2021-05-14 17:35] #1259 closed, assigned to nobody

[2021-05-14 17:35] #1260 closed, assigned to nobody

[2021-05-16 12:47] sebgrebe commented on #1175
We want to use this package: https://gitlab.com/what-digital/django-privacy-mgmt

[2021-05-16 13:03] sync-by-unito[bot] opened #1262 "Subscribe new users to mailchimp"
We need a checkbox that would be checked by default. Or two checkboxes (major updates and regular news).

[2021-05-16 13:18] sync-by-unito[bot] opened #1263 "Sometimes github actions fail with an SQL IndexError"
Eg here's the error: [https://github.com/rtcharity/eahub.org/runs/2539348762](https://github.com/rtcharity/eahub.org/runs/2539348762)

[2021-05-18 06:43] vagarwalla opened #1264 "Multiple groups directory bugs (may be related, otherwise feel free to split to many issues)"
@victor-yunenko

* [ ] Even though it shows USER as an organiser of GROUP on their profile , it doesn't show on the GROUP page. I expect this happened after the change to allow non-Hub users be listed as organisers
* [x] The GROUP Meetup link was not working When I went to check the status it was listed as active but not public. Link was showing page does not exist.
* [ ] USER's profile is still l

[2021-05-18 06:45] vagarwalla opened #1265 "Request failed with status code 400 when I try to add Cause Areas of Interest from listed options"
Filed by Tessa Alexanian on 18 May 2021. Original email:

![image](https://user-images.githubusercontent.com/32846756/118604218-7ac52180-b7e7-11eb-8d8b-1122a8b8d4cf.png)

[2021-05-18 06:51] vagarwalla opened #1266 "Several profile UX suggestions"
If these points will be addressed in the broader UX fix, please ignore.

-Available to volunteer & as speaker images should appear on the top of the profile where the tags appear
- Currently the available to volunteer/speak are at the bottom of the page (SS1)
- They should be on the top like the welcoming coffee chats" (see SS2) OR as the colored in icons

![image](https://user-images.githubuserco

[2021-05-18 06:57] vagarwalla commented on #1237
Hey I noticed this still wasn't complete. Could we do this soon? Now that we've sent out all the emails? @victor-yunenko

[2021-05-18 07:03] sebgrebe commented on #1120
Implemented

[2021-05-18 07:03] #1120 closed

[2021-05-18 11:42] vagarwalla opened #1267 "Change the notification message on private profiles so it's easier to change your privacy settings"
- [ ] Have the "Invisible Profile" sign should have a **question mark icon** that when you hover says "Your profile is private. It is only visible to you. We recommend making your profile public so others can find you".
- [ ] If the set to Community only, it should also show up with the same yellow shading & lock. The title should read "Limited Visibility Profile" with a hover to say "Your profile

[2021-05-20 06:34] #1267 closed, assigned to sebgrebe

[2021-05-21 03:28] vagarwalla commented on #1265
Mentioned by another person:
![image](https://user-images.githubusercontent.com/32846756/119077837-a2a2c800-ba27-11eb-8197-ce0719df82e9.png)

I was able to recreate the error on my account.

[2021-05-21 04:32] vagarwalla opened #1269 "Profiles - Tags showing the wrong dropdownn"
![image](https://user-images.githubusercontent.com/32846756/119082393-91aa8480-ba30-11eb-95a8-d1184f39ecb5.png)

[2021-05-23 11:27] sebgrebe commented on #1269
can't reproduce, but unclear why it has been "fixed"

[2021-05-23 13:43] viktor-yunenko opened #1270 "Switch the production profile algolia indexes to `_prod` instead of `_stage`"
switch the evn vars, because right now most likely the default is used, ie stage. Because we have new variable names?

[2021-05-23 13:59] vagarwalla commented on #1265
Steps to reproduce problem - Using Google Chrome on Microsoft Surfacebook

1. Log in to EA Hub profile
2. Click edit profile
3. In the "career area of interest" Type the word "research" (have to type the whole thing, the word tag "research" doesn't appear before then - it just shows other research.
4. The error code screenshotted below appears.
![image](https://user-images.githubusercontent.com/32

[2021-05-23 14:15] sebgrebe commented on #1265
* @victor-yunenko and I just both followed the steps and could not reproduce it.
* Victor added logging on this action. Next time this happens, we can investigate what's going on.

[2021-05-23 14:40] sebgrebe commented on #1270
- Added internal index for prod
- Updated env variables on stage and prod to set indices for internal and public, respectively

QA:
- Changed my profile on prod, both in public and internal mode, and checked that the prod indices, but not the stage, one changed.
- Checked whether changes occur correctly on /profiles
- Did the same vice versa for stage

[2021-05-23 14:40] #1270 closed, assigned to sebgrebe

[2021-05-26 06:10] vagarwalla opened #1271 "Make it easy for people to share their profile link"
Currently no easy way to copy your profile
When you click "Profile" the link is https://eahub.org/profile/ instead of https://eahub.org/profile/your-name

[2021-05-26 18:56] sebgrebe commented on #1264
This is desired behaviour

[2021-05-28 08:29] sebgrebe opened #1272 "Add Admin functionality: Allow admins to add users to groups"
vagarwalla asks:

[2021-05-28 08:29] sebgrebe commented on #1264
Created new ticket for admin panel functionality as this is not a bug: https://github.com/rtcharity/eahub.org/issues/1272

[2021-05-30 13:26] viktor-yunenko opened #1274 "python black stopped working through CI, consider adding it on eg git pre commit"

[2021-05-30 14:23] #1264 closed, assigned to sebgrebe

[2021-06-04 01:29] vagarwalla opened #1276 "Profile logs: add fields for admin export"
**Profile Update Logs (https://eahub.org/admin/profiles/profileanalyticslog/) **
---
* View & Export should have:
* User ID
* User Email
* User First name
* User Last Name
* User Profile Link

* Allow filtering by ACTION

**Profiles (https://eahub.org/admin/profiles/profile/)**
---
* View & Export should have:
* User ID
* User Email
* User First name
* User Last Name
* User Profile Link

Also:
* T

[2021-06-05 21:42] taoroalin opened #1277 "Google Maps API Key Missing?"
The Maps panel in the production website is greyed out and says "This page didn't load Google Maps correctly. See the JavaScript console for technical details."

The console says "Google Maps JavaScript API error: InvalidKeyMapError". Documentation on this error:
https://developers.google.com/maps/documentation/javascript/error-messages#invalid-key-map-error

Don't know what caused this, maybe Goo

[2021-06-06 12:05] viktor-yunenko commented on #1277
Thank you for the report! I suspect something might have happened to the google maps key.

@sebgrebe said that he'll look into the key status.

[2021-06-06 13:22] viktor-yunenko commented on #1041
@vagarwalla, could you post here the latest update?

[2021-06-06 16:58] viktor-yunenko commented on #1277
It has been patched, thank you @sebgrebe!

[2021-06-06 16:58] #1277 closed, assigned to sebgrebe

[2021-06-08 07:17] cafelow opened #1280 "Can't add a specific organiser to a group"
Odd error: I'm trying to make https://eahub.org/profile/sahil-kulshrestha/ an organiser of https://eahub.org/group/ea-bangalore/
But his profile doesn't come up on the drop down menu. (Normally I can do this if the profile is hidden, could it be related to his last name being changed to "~"?

[2021-06-09 06:49] sebgrebe commented on #1248
Third party tools list is in internal document

[2021-06-09 06:49] #1248 closed, assigned to sebgrebe

[2021-06-11 16:50] viktor-yunenko commented on #1115
https://github.com/jazzband/django-auditlog seems to be the most popular.

[2021-06-13 15:15] viktor-yunenko commented on #1265
With the additional logging we found the problem at patched it today.

[2021-06-13 15:15] #1265 closed, assigned to sebgrebe

[2021-06-13 20:59] viktor-yunenko opened #1283 "Profiles don't update in Algolia"
eg a user approval through the admin panel doesn't push them into the index (tested on prod)

cc sebgrebe

[2021-06-14 06:05] cafelow opened #1284 "Add an approval step (and probably change wording) when people make a new group"
@vagarwalla and @sebgrebe - for when Groups directory is updated

The idea I have is that if people want to register a new group they

1. Click "Register a group" button (Currently called "Create a group" but I prefer "Register"  because if there isn't a group already then we'd like them to do a few other things before registering).
1. Change this statement "Please enter all the ways potential gro

[2021-06-14 16:42] viktor-yunenko commented on #1283
@sebgrebe, FYI I also noticed that there's an issue with the outdated tags index, which could be related. It's why the 400 issue on tags is happening even although we fixed the bug on Sunday. The server returns `Invalid pk "9" - object does not exist`, which usually means that there's a tag in algolia that doesn't exist on the backend. Eg that tag is on the stage server only.

Details: https://sen

[2021-06-16 07:05] sebgrebe commented on #1283
I'm starting to look at this now, @victor-yunenko

[2021-06-18 08:11] sebgrebe commented on #1283
@victor-yunenko, I found the culprit:

[django docs](https://docs.djangoproject.com/en/3.2/ref/models/querysets/#django.db.models.query.QuerySet.update)

[2021-06-27 12:23] viktor-yunenko opened #1286 "Mailchimp configure the "unsubscribe" to be a single click link"
Right now it send the user to a Mailchimp form that ask to input the email, which is unnecessary.

[2021-07-03 23:54] vagarwalla opened #1287 "Add option to export messaging logs"
I can't export messaging logs to XLSX right now.

[2021-07-23 17:13] sebgrebe commented on #1287
**User story**: As an admin, when I go to the message logs on eahub.org/admin, I can select the message logs I want to export and then export them to an xlsx/csv/etc file

**Acceptance criteria**
* File with logs downloaded with all columns present: sender email, recipient email, recipient type, send action uuid, time
* Uses the ImportExportMixin
* Export is done via button (*not* action)
![image]

[2021-07-25 11:36] viktor-yunenko commented on #1276
As I understand the task is to make sure that we can do SQL-like join in spreadsheets. Otherwise we can't relate the 3 export files.

Looks like using `django-import-export` would be a perfect fit.

[2021-07-25 11:39] viktor-yunenko commented on #1269
I wouldn't expect it to be fixed, but yes we haven't found the cause. Although I had thoughts about using a more suitable better frontend library, hence perhaps it makes sense to postpone it until then.

[2021-07-27 13:24] viktor-yunenko commented on #1124
Let's list here the links that we need to track.

[2021-07-30 08:32] vagarwalla opened #1290 "Enable voting for issues marked as subcategories in meta.eahub.org"
Right now I can't vote on things if they are listed in a subcategory e.g. Feature Request -> Planned

See screen shot for the following link: https://meta.eahub.org/t/adding-online-groups-to-the-groups-directory/61

![image](https://user-images.githubusercontent.com/32846756/127625340-7456dce1-f519-4ff5-b8d3-7236b14b9b75.png)

When I change to just features it works again:

![image](https://user-i

[2021-07-31 03:10] vagarwalla commented on #1276
Update: I've clarified the main body of the text so that it's more specific and clear for each page what I'd like.

Few other open questions:
* Is it possible to have all the possible columns but be able to toggle them on and off?
* Then only the fields we need get exported / we have flexibility to view the fields?

* Is it possible to have a more powerful filter e.g. let's say I want to export al

[2021-08-01 11:33] #1175 closed, assigned to sebgrebe

[2021-08-06 16:49] viktor-yunenko commented on #1186
That was done

[2021-08-06 16:49] #1186 closed, assigned to walambert

[2021-08-06 18:41] viktor-yunenko opened #1291 "Profile matching: create a firebase function"
mixed integer solver on a gcloud function
- eg python pickled 1GB object, but might be compressed
- from mip_cvxpy import PYTHON_MIP
- import cvxpy
- def cloud_func(problem, options):
    - solver = PYTHON_MIP()
    - problem.solve(solver=solver, verbose=True, gp=False, **options)
    - return (problem, stdout_content, stderr_content)
    - “options” here is a dictionary

[2021-08-08 11:42] sebgrebe opened #1294 "Update About page with advisory board members"
* Add section to about page where advisory board members' name and affiliations are listed
* Ask vagarwalla for list of names and affiliations

[2021-08-09 08:36] sebgrebe commented on #1291
One question out of curiosity: Any particular reason we're going with Google Cloud here? If we have an idea which cloud provider we want to use long-term, it would be good to use that one for this function (to reduce number of accounts). E.g., if we want to go with AWS, we could use lambdas for this instead.

[2021-08-13 19:26] viktor-yunenko opened #1295 "Matchmaking: set up an API example"

[2021-09-12 17:46] #1256 closed, assigned to sebgrebe

[2022-09-22 22:26] ruthgrace opened #1321 "Profile must be saved twice before being indexed for search results"
Hello,
It looks like profiles must be saved twice before getting indexed properly for search results. I saw this happen with my profile as well as my friend Mateo. To replicate, edit profile and add a new group under EA Groups. Then, search for all the members of that group. Your profile may not show up in the list unless you click the Save button for editing your profile multiple times. Let me kn

[2022-09-22 22:32] viktor-yunenko commented on #1321
Hey @sebgrebe , so I also was able to replicate it. Not sure about the reason, but when I have a bug like that a poor first patch might just be `post_save` django signal that calls `save` again, without triggering another `post_save` signal :)

[2022-09-25 10:11] #1321 closed, assigned to nobody

[2022-09-25 10:21] sebgrebe commented on #1321
Thanks for raising this, @ruthgrace. Just deployed the fix.

@victor-yunenko, fix was this: https://github.com/rtcharity/eahub.org/pull/1322/files#diff-eb0e45a3c0f828496281f9f63e42a4c0c1b2d3a9ed8a4daf0bbaf53e3f3646e7R145

@ruthgrace, are you aware that the Hub [intends to shutdown](https://forum.effectivealtruism.org/posts/FdWv7t8Pyxyxe6xnb/the-ea-hub-is-suspending-new-feature-development-with-pla